page-welcome {

}

ion-content.splash{
    background: rgba(255,56,156,1);
background: -moz-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,1)), color-stop(38%, rgba(255,112,179,1)), color-stop(100%, rgba(255,226,112,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
background: linear-gradient(135deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
    // background: rgb(56,167,211);
    // background: -moz-linear-gradient(-66deg, rgb(56,167,211) 0%, rgb(0,178,172) 12%, rgb(90,129,189) 62%, rgb(120,107,198) 100%);
    // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(56,167,211)), color-stop(12%, rgb(0,178,172)), color-stop(62%, rgb(90,129,189)), color-stop(100%, rgb(120,107,198)));
    // background: -webkit-linear-gradient(-66deg, rgb(56,167,211) 0%, rgb(0,178,172) 12%, rgb(90,129,189) 62%, rgb(120,107,198) 100%);
    // background: -o-linear-gradient(-66deg, rgb(56,167,211) 0%, rgb(0,178,172) 12%, rgb(90,129,189) 62%, rgb(120,107,198) 100%);
    // background: -ms-linear-gradient(-66deg, rgb(56,167,211) 0%, rgb(0,178,172) 12%, rgb(90,129,189) 62%, rgb(120,107,198) 100%);
    // background: linear-gradient(114deg, rgb(56,167,211) 0%, rgb(0,178,172) 12%, rgb(90,129,189) 62%, rgb(120,107,198) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a7d3', endColorstr='#786bc6', GradientType=1 );
}
.no-scroll.flex .scroll-content {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome{
    width: 100%;
}
.iconCont{
    text-align: center;
}
.appName{
    text-align: center;
    margin-top: 10px;
}
.appName h1{
    text-align: left;
    display: inline-block;
    color: #FFF;
    font-weight: 900;
    line-height: 0.85em;
    font-size: 3em;
    margin-top: 5px;
}

.uppercase{
    text-transform: uppercase;
}
.logoWelcome{
  background-color: rgb(255, 255, 255);;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 9px 68px 13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 68px 13px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 68px 13px rgba(0,0,0,0.75);
}
.logoWelcome img{
    margin-top: 15%;
    margin-left: 12%;
}

.btnIngre
{
    color:rgb(210, 9, 108);
}