<ion-content padding class="splash no-scroll flex">
  <div class="welcome">
      <div class="iconCont">
        <div class="animated zoomIn logoWelcome">
            <img src="./assets/imgs/logo-trans.png" height="125px"/>
        </div>
      </div>
      <div padding>
        <button ion-button color="light" outline block round style="margin-top:30px;" class="uppercase" (click)="abrirRegister()">Registrarse</button>
        <button ion-button color="light" block round style="margin-top:10px;" class="uppercase btnIngre" (click)="abrirLogin()">Ingresar</button>
      </div>
      <div class="logoMuni">
          <img src="./assets/imgs/muni.png"/>
      </div>
  </div>
</ion-content>
