page-register {

}
.error{
  white-space: pre-wrap;
}
.sectionTitle{
  font-weight: 900;
  padding-left: 16px;
  padding-bottom: 5px;
  padding-top:10px;
  border-bottom: 0.55px solid #c8c7cc
}

.item-ios{
  padding: 0px 16px;
}
.btnRegistrar{
    Cbackground: rgba(255,56,156,1);
    background: -moz-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,1)), color-stop(38%, rgba(255,112,179,1)), color-stop(100%, rgba(255,226,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: linear-gradient(135deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );;
}
.btnRegistrar:hover,
.btnRegistrar:focus{
  background: rgba(255,56,156,1);
  background: -moz-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,1)), color-stop(38%, rgba(255,112,179,1)), color-stop(100%, rgba(255,226,112,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  background: linear-gradient(135deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
}
.center{
    text-align: center;
}
.wrapper{
    width:100px;
    margin:0 auto;
    padding-top:5%;
    position:relative;
    overflow: hidden;
  }
  .wrapper-3{
    width:100px;
    position:absolute;
    top:44px;
    z-index: 10;
  }
  .wrapper-2{
    width:100%;
    margin:0 auto;
    text-align:right;
    height: 2px;
    margin-top: -3px;
  }
  .roadLine{
    background-color: #000;
    height: 1px;
  }
  .bus{
    width:65%;
    z-index:10;
    animation: bounce 350ms infinite alternate;
  }
  .road{
    height:3px;
    position:absolute;
    bottom:-1px;
    // right:250px;
    animation: road 1500ms ease-in-out infinite;
  }

  @keyframes road{
    0%{
      transform: translateX(0);
    }
    75%{
      opacity:1;
    }
    100%{
      transform: translateX(-250%);
    //   opacity:0;
    }

  }

  @keyframes size{
    from{
      transform: scale3d(0.75, 0.75, 0.75);
      transform: translateX(-350%);

    }

    20%{
              transform: scale3d(1, 1, 1);
    }

    to {
         transform: scale3d(0.75, 0.75, 0.75);
      transform: translateX(-350%);
    }
  }

  @keyframes bounce{
    0%{
    transform:translateY(0)
    }
    100%{
      transform:translateY(-2%)
    }
  }

  .linkVolver{
    text-align: center;
    color: #E20091;
  }
  .linkVolver:hover{
    text-decoration: underline;
  }

   .fondoR{
    bottom: 0;
    //height: 100%!important;
    overflow: scroll;
    content:"";
    display: block;
    height: 40px;
    top: 0;
    left: 0;
    width: 100%!important;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 );
  }
 