
<ion-content  style="top: 0%;" >
  <div class="fondoR">
  </div>

  <!-- <h1 color="dark" class="sectionTitle">Registro</h1> -->


  <!-- <ion-item>
    <ion-label color="{{ errors.name ? 'danger' : 'pinkGo' }}" stacked>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="userData.name"></ion-input>
  </ion-item> -->

  <ion-item>
      <ion-label color="{{ errors.username ? 'danger' : 'pinkGo' }}" stacked>Nombre de usuario</ion-label>
      <ion-input type="text" [(ngModel)]="userData.username"></ion-input>
      <ion-label class="error" *ngIf="errores.username.length > 0" stacked>*{{errores.username}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="{{ errors.email ? 'danger' : 'pinkGo' }}" stacked>Email</ion-label>
    <ion-input type="email" [(ngModel)]="userData.email"></ion-input>
    <ion-label class="error" *ngIf="errores.email.length  > 0" stacked >*{{errores.email}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="{{ errors.password1 ? 'danger' : 'pinkGo' }}" stacked>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="userData.password1" stacked></ion-input>
    <ion-label class="error" *ngIf="errores.password1.length  > 0" stacked>*{{errores.password1}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="{{ errors.password2 ? 'danger' : 'pinkGo' }}" stacked>Repetir Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="userData.password2"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label color="{{ errors.password2 ? 'danger' : 'pinkGo' }}" stacked>Género</ion-label>
      <ion-select [(ngModel)]="userData.genero">
        <ion-option value="f">Femenino</ion-option>
        <ion-option value="m">Masculino</ion-option>
        <ion-option value="o">Otro</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div padding>
    <button block ion-button round class="btnRegistrar" (click)="registerUser()">Registrarse</button>
  </div>
  <p class="linkVolver" (click)="volverAWelcome()">Volver</p>
  <div class="animatedBus">
      <div class="wrapper">
          <div class="center">
            <img src="./assets/imgs/busAnimation/bus.png" alt="" class="bus"/>
          </div>
          <div class="wrapper-3">
            <div class="center">
              <img src="./assets/imgs/busAnimation/wheels.png" alt="" class="bus"/>
            </div>
          </div>
          <div class="wrapper-2">
            <div class="roadLine btnRegistrar"></div>
            <img src="./assets/imgs/busAnimation/roadLines.png" alt="" class="road"/>
          </div>
          </div>
  </div>
</ion-content>
