<ion-content class="no-scroll">
    <div class="fondo"></div>
    <div id="map2">
        <div class="arribando" *ngIf="bus_arribando === true" >
            <div class="animatedBus">
                <div class="wrapper">
                    <span>ARRIBANDO</span>
                    <div class="center"><img src="./assets/imgs/busAnimation/bus.png" alt="" class="bus"/></div>
                    <div class="wrapper-3">
                        <div class="center"><img src="./assets/imgs/busAnimation/wheels.png" alt="" class="bus"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="busInfoTooltip">
        <div class="busInfoTooltipData">
            <ion-icon name="bus"></ion-icon><span>: {{ ttip_internoID}}</span>
            <ion-icon name="time"></ion-icon><span>: {{ttip_tiempo}}</span>
            <ion-icon name="navigate"></ion-icon><span>: {{ttip_distancia}}</span>
            <ion-img class="iAdap"></ion-img><span>: {{ttip_adaptado}}</span>
        </div>
        <div class='busLastUpdated'><span>GPS: {{ttip_horaActualizacion}}</span></div>
    </div>

    <ion-slides class="sliderDt" #slides pager="true" spaceBetween="10" (ionSlideWillChange)="slideChanging()" (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngIf="dTiempo == null || dTiempo.length == 0" >
            <div>
                <h2 class="msj-ficha">No tenés paradas seleccionadas</h2>
                <ion-icon ios="ios-arrow-down" md="md-arrow-down" end style="color: rgb(255,255,255);"></ion-icon>
            </div>
        </ion-slide>
        <ion-slide class="slideTracking" *ngFor="let rec of dTiempo">
            <div *ngIf="rec.parametros[0].error == 2 || bus_pasaronTodos == true" class="dtiempo counterCont noData">
                <div class="dtLeft">
                    <div class="dtDescripcionCont">
                        <h1 class="dtDescripcion">{{rec.descripcion}}</h1>
                    </div>
                    <div class="dtBusInfo">
                        <div class="LineaColectivo">
                            <div class="lineaColectivoWrapper">
                                <h2 *ngIf="rec.colectivo != 'AEROBUS'">{{rec.colectivo}}</h2>
                                <ion-icon *ngIf="rec.colectivo == 'AEROBUS'" name="cl-planeFichaFinal"  class="planeIcon"></ion-icon>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <button aria-label="Agregar parada a favoritos." ion-button class="btnStar" (click)="editarNombre(rec)">
                                    <ion-icon name="star"></ion-icon>
                                </button>
                            </li>
                            <li><button aria-label="Eliminar parada de seguimiento." ion-button class="btnPapelera" (click)="confirmDeleteFicha(rec)"><ion-icon name="ios-trash" ></ion-icon></button></li>
                        </ul>
                    </div>
                </div>
                <div class="dtRight">
                    <p *ngIf="bus_pasaronTodos === false">
                        No tenemos registros de algún colectivo en estos momentos.
                    </p>
                    <p *ngIf="bus_pasaronTodos === true">
                        <i>Todavía</i> no tenemos registros de algún colectivo desde punta de linea hasta tu parada.
                    </p>
                </div>
            </div>
            <div *ngIf="rec.parametros[0].error == 0 && bus_pasaronTodos == false" class="dtiempo counterCont">
                <div class="dtLeft">
                    <div class="dtDescripcionCont">
                        <h1 class="dtDescripcion">{{rec.descripcion}}</h1>
                    </div>
                    <div class="dtBusInfo">
                        <div class="LineaColectivo">
                            <div class="lineaColectivoWrapper">
                                <h2 *ngIf="rec.colectivo != 'AEROBUS'">{{rec.colectivo}}</h2>
                                <ion-icon *ngIf="rec.colectivo == 'AEROBUS'" name="cl-planeFichaFinal"  class="planeIcon"></ion-icon>
                                <span class="intColectivo">Int: {{rec.parametros[0].resultados.numero_interno}}</span>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <button aria-label="Agregar parada a favoritos." ion-button class="btnStar" (click)="editarNombre(rec)">
                                    <ion-icon name="star"></ion-icon>
                                </button>
                            </li>
                            <li><button aria-label="Eliminar parada de seguimiento." ion-button class="btnPapelera" (click)="confirmDeleteFicha(rec)"><ion-icon name="ios-trash" ></ion-icon></button></li>
                        </ul>
                    </div>
                    <div class='fichaGPSUpdated'>
                        <span [ngClass]="(gpsSignalType === 0) ? 'gpsGood' : (gpsSignalType === 1) ? 'gpsWeak' : 'gpsBad'">GPS: {{rec.parametros[0].resultados.hora_ultima_posicion}}hs</span>
                    </div>
                    <div class="adaptados" [ngClass]="{'hiddenAdaptados': rec.parametros[0].resultados.adaptado != true && rec.parametros[0].resultados.piso_bajo != true }" >
                        <ion-img class="iAdap"></ion-img>
                        <h5 class="txtAdap">ADAPTADO</h5>
                    </div>
                </div>
                <div class="dtRight">
                    <round-progress [semicircle]="true" [current]="rec.parametros[0].resultados.tiempo_minutos" [background]="'#eaeaea'" [color]="'#00b2ad'" 
                    [stroke]="14" [clockwise]="true" [responsive]="true" [max]="45" [duration]="1100"></round-progress>
                    <div class="dtDataCont">
                        <div class="dtMinuto">
                            <span class="dtNumMin">{{rec.parametros[0].resultados.tiempo_minutos}}</span><span class="l">MIN</span>
                        </div>
                        <div class="dtDistancia">
                            <span class="dtNumDist">{{rec.parametros[0].resultados.distancia_km}}</span><span class="l">KM</span>
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>

    <div class="fondoMenuDt">
      <ion-fab bottom left>
          <button aria-label="Volver a pantalla principal." ion-fab color="light" class="rounded" (click)="volverHome()"><ion-icon name="cl-home"></ion-icon></button>
      </ion-fab>

      <ion-fab bottom centerRight>
          <button aria-label="Abrir listado de paradas favoritas." ion-fab color="light" class="rounded" (click)="pageFavoritos()"><ion-icon name="cl-star"></ion-icon></button>
      </ion-fab>

      <ion-fab bottom right>
          <button aria-label="Abrir menú de opciones." ion-fab menuToggle color="light" class="rounded"><ion-icon name="cl-menu"></ion-icon></button>
      </ion-fab>
    </div>
</ion-content>
