page-tracking {

}
ion-slides{
    height: auto;
}
/* Animación con keyframe llamada "latidos" */
@keyframes lat {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}
.efectoLatArribando {
	display: inline-block;
	animation: lat 1.9s infinite;
	transform-origin: center;
}

#mapWrapper {
  height: 100%;
  border: 1px solid;
  width: 100% !important;
  position: absolute;
}

#map2 {
  height: 55% !important;
  position: absolute;
  top: 0;
  width: 100%!important;
  z-index: 0;
}

.leaveComments {
    height: 200px;
    background: rgb(56,168,211);
    background: -moz-linear-gradient(150deg, rgba(56,168,211,1) 0%, rgba(0,178,173,1) 13%, rgba(90,130,189,1) 62%, rgba(120,107,198,1) 100%);
    background: -webkit-linear-gradient(150deg, rgba(56,168,211,1) 0%,rgba(0,178,173,1) 13%,rgba(90,130,189,1) 62%,rgba(120,107,198,1) 100%);
    background: linear-gradient(150deg, rgba(56,168,211,1) 0%,rgba(0,178,173,1) 13%,rgba(90,130,189,1) 62%,rgba(120,107,198,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoDT{
  position: absolute;
  width: 100%;
  top: 0px;
  height: 37%;
  background-image: url(../assets/imgs/fondo_fichafinal.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fondoDT p{
  text-align: center;
  position: absolute;
  top: 20%;
  margin: 40px;
  font-weight: bold;
  font-size: 1.3em;
}
.fondoDT .btnDT {
  background-color: #202454;
  border-radius: 11px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 800;
  position: absolute;
  top: 40%;
  left: 11%;
  height: 43px;
}

.sliderDt {
  width: 100% !important;
  height: 38% !important;
  top: 48% !important;
  display: inline-flex !important;
  position: absolute !important;

  background: rgba(255,56,156,1);
  background: -moz-linear-gradient(-45deg, #ff389c 0%, #ff70b3 55%, #ffe270 90%);
  background: -webkit-linear-gradient(-45deg, #ff389c 0%, #ff70b3 55%, #ffe270 90%);
  background: -o-linear-gradient(-45deg, #ff389c 0%, #ff70b3 55%, #ffe270 90%);
  background: -ms-linear-gradient(-45deg, #ff389c 0%, #ff70b3 55%, #ffe270 90%);
  background: linear-gradient(135deg, #ff389c 0%, #ff70b3 55%, #ffe270 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
}

.dtiempo {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
}

.dtiempo  .dtLeft{
  left: 0px;
  width: 60%;
  display: grid;
}

.dtiempo .dtLeft p{
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 16%;
  margin: 0;
  margin-left: -10px;
}

.dtiempo .dtLeft .botones{
    position: fixed;
    top: 42%;
    left: 36%;
    height: 27%;
    width: 20%;

}

.dtiempo .dtLeft .btnStar {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  color: #fff;
}

.btnStar ion-icon {
  font-size: 1.7em;
}

.dtiempo .dtLeft .LineaColectivo{
  background-image: url(../assets/imgs/bondi-blanco-luces-rosas-230x230.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 105px;
  width: 105px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.1em;
}

.lineAerobus {
  margin-top: -1.4em;
}

.noData .LineaColectivo .lineaColectivoWrapper {
  top: unset;
}

.noData .dtRight {
  padding-right: 0px !important;
}

.noData .dtRight p {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.LineaColectivo .lineaColectivoWrapper {
  height: 60px;
  width: 80%;
  position: relative;
  top: -11px;
}

.LineaColectivo .lineaColectivoWrapper .intColectivo {
  color: #fff;
  font-size: 0.8em;
}

@media only screen and (max-width: 320px) {
  .lineAerobus{
    margin-top: -2.2em;
  }
  .aero-tit{
    padding-bottom: 11px;
    font-size: xx-small;
  }
}

.dtiempo  .dtLeft .dtDescripcion{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  font-size: 0.7em;
  padding: 3px;
  margin: 0;
}
.dtiempo  .dtLeft .dtDescripcionCont{
  width: 100%;
  align-self: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.item {
  flex: 1;
}

.dtBusInfo {
  display: inline-flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.noData .dtBusInfo {
  align-items: unset;
}

.dtBusInfo > ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.dtBusInfo > ul > li {
  text-align: center;
}

.dtBusInfo > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

.dtBusInfo .button-md {
  background-color: #00b2ad !important;
}

.planeIcon {
  font-size: 1.2em !important;
  display: block;
  margin: 0 auto;
}

.dtiempo  .dtLeft .LineaColectivo h2 {
  font-size: 1.7em !important;
  width: 100%;
  color: white;
  font-weight: 900;
  margin: 0;
  position: relative;
  height: 35px;
}

.dtiempo  .dtRight{
  width: 40%;
  height: 100%;
  text-align: right;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  right: 0;
  padding-right: 5px;
}
.dtiempo  .dtRight .dtMinuto,
.dtiempo .dtRight .dtDistancia{
   color: #FFFFFF;
  }
.dtiempo .dtRight .dtMinuto .dtNumMin{
    font-size: 250%;
   
    font-weight: 900;
    padding: 0px!important;
    margin: 0px!important;
  }

.dtiempo  .dtRight .dtNumDist{
    font-size: 1.8em;
    font-weight: 700;
  }

.fondoMenuDt {
  width: 100%;
  position: absolute;
  top: 86%;
  height: 14%;
  /*margin-bottom: 9%;*/
  // background: #38a8d3;
  // background: -webkit-gradient(left top, right top, color-stop(0%, #38a8d3), color-stop(28%, #38a8d3), color-stop(45%, #00b2ac), color-stop(86%, #5a81bd), color-stop(100%, #786bc6));
  // background: -webkit-gradient(linear, left top, right top, from(#38a8d3), color-stop(28%, #38a8d3), color-stop(45%, #00b2ac), color-stop(86%, #5a81bd), to(#786bc6));
  // background: linear-gradient(to right, #38a8d3 0%, #38a8d3 28%, #00b2ac 45%, #5a81bd 86%, #786bc6 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a8d3', endColorstr='#786bc6', GradientType=1 );
  background: rgba(255,56,156,1);
  background: -moz-linear-gradient(-45deg, rgba(255,56,156,0.8) 0%, rgba(255,112,179,1) 18%, rgba(255,226,112,1) 66%);
  background: -webkit-linear-gradient(-45deg, rgba(255,56,156,0.8) 0%, rgba(255,112,179,1) 18%, rgba(255,226,112,1) 66%);
  background: -o-linear-gradient(-45deg, rgba(255,56,156,0.8) 0%, rgba(255,112,179,1) 18%, rgba(255,226,112,1) 66%);
  background: -ms-linear-gradient(-45deg, rgba(255,56,156,0.8) 0%, rgba(255,112,179,1) 18%, rgba(255,226,112,1) 66%);
  background: linear-gradient(135deg, rgba(255,56,156,0.8) 0%, rgba(255,112,179,1) 18%, rgba(255,226,112,1) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
}

.elegirOtra{
  position: absolute;
  width: 100%;
  top: 50%;
  height: 39%;
  background-image: url(../assets/imgs/rectangulo-otra-linea.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.elegirOtra .btnOL{
  //background-image: url(../assets/imgs/btn-otra-linea.png);
  border-radius: 11px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 800;
  position: absolute;
  top: 10%;
  left: 11%;
  height: 43px;
}

.elegirOtra{
  background-color: rgb(35, 39, 99);
  position: absolute;
  top: 77%;
  height: 10%;
  left: 11%;
  height: 43px;
}
.btnOL
{
  border-radius: 11px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 800;
}

.lineaHR{
  top: 34%!important;
}

.msj-ficha
{
  color: #fff;
}

.btnPapelera {
  text-align: center;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.btnPapelera ion-icon {
  font-size: 1.7em;
}

.roadLines {
  background-color: #FFFFFF !important;
}

.animatedBus {
  height: 100%;
}

.arribando {
  position: absolute;
  background-color: rgba(226, 0, 145, 0.8);
  bottom: 3.45em;
  color: #fff;
  width: 100%;
  height: 30px;
}

.arribando button {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 47px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 47px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 47px 0px rgba(255,255,255,1);
}

.arribando span {
  font-size: 1.4rem;
  position: absolute;
  top: 0.8rem;
  font-weight: bold;
  left: 5px;
}

.arribando .animacionbtnArribando{
  animation-name: expandOpen;
  -webkit-animation-name: expandOpen;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
}

.arribando .bus {
  width: 49%;
  z-index: 10;
  -webkit-animation: bounce 350ms infinite alternate;
  animation: bounce 350ms infinite alternate;
  vertical-align: bottom;
}

.arribando .center {
  text-align: right;
  position: relative;
  top: -2px;
  width: 100px;
  margin-left: 35px;
}

.arribando .wrapper {
  padding-top: 0;
  margin: 0;
  height: 100%;
  animation: animacionBondi 4s linear infinite;
  width: 150px;
}

.arribando .wrapper-3 {
  width: 100px;
  position: absolute;
  top: 15px;
  z-index: 10;
}

.adaptados
{
  background-color: #e20091;
  color: white;
  border-radius: 0px 10px 10px 0px;
  display: inline-block;
  width: 100%;
  max-width: 150px;
  float: left;
  height: auto;
  align-self: center;
  margin: 10px 0;
  margin-bottom: 20px;
}

.adaptados.hiddenAdaptados{
  visibility: hidden;
}

.iFav
{
  background: rgba(255, 255, 255, 0);
  background-image: url(../assets/imgs/favoritos.svg);
  background-size: cover!important;
  width: 50px !important;
  height: 50px !important;
}

.l{
  font-size: x-small;
  font-weight: 700;
}

.iAdap
{
  background: rgba(255, 255, 255, 0);
  background-image: url(../assets/imgs/disaible-blanco.svg);
  background-size: cover;
  vertical-align: middle;
  margin-left: -23px;
}

.txtAdap
{
  vertical-align: middle;
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 86px;
  height: -3px;
  display: inline-block;
  margin-right: -17px;
  color: rgb(255,255,255);
}


.fondo{
  bottom: 0;
  width: 100%!important;
  overflow: scroll;
  content:"";
  display: block;
  height: 65px;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%!important;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 );
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}

.swiper-pagination-bullet-active {
  background: rgb(255, 255, 255);
  opacity: 1;
}

.swiper-pagination-bullets {
  bottom: 0px !important;
}

@media all and (max-width: 1199px) {

}
@media all and (max-width: 991px) {

}
@media all and (max-width: 768px) {

}
@media all and (max-width: 575px) {

}

@media all and (max-width: 420px) {

}


// .counterCont{
//   position: relative;
// }
.counterCont::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.counterCont{
  .paused .clock{
      animation-play-state: paused !important;
  }
  .paused .clock .minute-marks{
      animation-play-state: paused !important;
  }
  .clock-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 50%;
      background-color: transparent;
      overflow: hidden;
    }
    .clock-border {
      position: absolute;
      
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 240px;
      height: 240px;
      border: none;
      margin-right:-100px;
      -webkit-border-radius: 50%;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 50%;
      -moz-background-clip: padding;
      border-radius: 50%;
      background-clip: padding-box;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      overflow: hidden;
    }
    .clock {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 250px;
      height: 250px;
      padding: 0;
      background-color: transparent;
      border: none;
      -webkit-border-radius: 50%;
      -webkit-background-clip: padding-box;
      -moz-border-radius: 50%;
      -moz-background-clip: padding;
      border-radius: 50%;
      background-clip: padding-box;
      -webkit-background-clip: border-box;
      -moz-background-clip: border-box;
      background-clip: border-box;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    
    lesshat-selector {
      -lh-property: 0; }
    @-webkit-keyframes tick{ 0%{ -webkit-transform: rotate(0deg); } 100%{ -webkit-transform: rotate(-360deg); }}
    @-moz-keyframes tick{ 0%{ -moz-transform: rotate(0deg); } 100%{ -moz-transform: rotate(-360deg); }}
    @-o-keyframes tick{ 0%{ -o-transform: rotate(0deg); } 100%{ -o-transform: rotate(-360deg); }}
    @keyframes tick{ 0%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg); } 100%{-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);-ms-transform: rotate(-360deg);transform: rotate(-360deg); };
    }

    @keyframes animacionBondi {
      0% {
        transform: translateX(-150%);
      }
      100% {
        transform: translateX(350%);
      }
    }
    
    lesshat-selector {
      -lh-property: 0; }
    @-webkit-keyframes tick-second{
      0%{ -webkit-transform: rotate(0deg); }
      21%{ -webkit-transform: rotate(-4deg); }
      26%{ -webkit-transform: rotate(-8deg); }
      33%{ -webkit-transform: rotate(-4deg); }
      37%{ -webkit-transform: rotate(-6deg); }
      100%{ -webkit-transform: rotate(-6deg); }}
    @-moz-keyframes tick-second{
      0%{ -moz-transform: rotate(0deg); }
      21%{ -moz-transform: rotate(-4deg); }
      26%{ -moz-transform: rotate(-8deg); }
      33%{ -moz-transform: rotate(-4deg); }
      37%{ -moz-transform: rotate(-6deg); }
      100%{ -moz-transform: rotate(-6deg); }}
    @-o-keyframes tick-second{
      0%{ -o-transform: rotate(0deg); }
      21%{ -o-transform: rotate(-4deg); }
      26%{ -o-transform: rotate(-8deg); }
      33%{ -o-transform: rotate(-4deg); }
      37%{ -o-transform: rotate(-6deg); }
      100%{ -o-transform: rotate(-6deg); }}
    @keyframes tick-second{
      0%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg); }
      21%{-webkit-transform: rotate(-4deg);-moz-transform: rotate(-4deg);-ms-transform: rotate(-4deg);transform: rotate(-4deg); }
      26%{-webkit-transform: rotate(-8deg);-moz-transform: rotate(-8deg);-ms-transform: rotate(-8deg);transform: rotate(-8deg); }
      33%{-webkit-transform: rotate(-4deg);-moz-transform: rotate(-4deg);-ms-transform: rotate(-4deg);transform: rotate(-4deg); }
      37%{-webkit-transform: rotate(-6deg);-moz-transform: rotate(-6deg);-ms-transform: rotate(-6deg);transform: rotate(-6deg); }
      100%{-webkit-transform: rotate(-6deg);-moz-transform: rotate(-6deg);-ms-transform: rotate(-6deg);transform: rotate(-6deg); };
    }

    .minute-marks {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      padding: 0;
      margin: 0;
      list-style-type: none;
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
    .minute-marks li {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      width: 200px;
      height: 200px;
    }
    .minute-marks li:before,
    .minute-marks li:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 3px;
      height: 14px;
      display: inline-block;
      background-color:#FFFFFF;
      border-color: #FFFFFF;
      border-width: 0px;
      border-style: solid;
      -webkit-border-radius: 0px;
      // -webkit-background-clip: padding-box;
      -moz-border-radius: 0px;
      // -moz-background-clip: padding;
      border-radius: 0px;
      // background-clip: padding-box;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
      -webkit-animation: fade-in 0.1s ease 0s 1 forwards;
      -moz-animation: fade-in 0.1s ease 0s 1 forwards;
      -o-animation: fade-in 0.1s ease 0s 1 forwards;
      animation: fade-in 0.1s ease 0s 1 forwards;
    }
    .clock.ticktock{
      -webkit-animation: tick 60s normal infinite steps(60, end) 0s;
      -moz-animation: tick 60s normal infinite steps(60, end) 0s;
      -o-animation: tick 60s normal infinite steps(60, end) 0s;
      animation: tick 60s normal infinite steps(60, end) 0s;
    }
    .ticktock .minute-marks.tick{
      transform-origin: center;
      -webkit-animation: tick-second 1s normal infinite steps(30, end) 0s;
      -moz-animation: tick-second 1s normal infinite steps(30, end) 0s;
      -o-animation: tick-second 1s normal infinite steps(30, end) 0s;
      animation: tick-second 1s normal infinite steps(30, end) 0s;
    }
    .minute-marks li:before lesshat-selector,
    .minute-marks li:after lesshat-selector {
      -lh-property: 0; }
    @-webkit-keyframes fade-in{ from{ -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0; opacity: 0; } to{ -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1; opacity: 1; }}
    @-moz-keyframes fade-in{ from{ -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0; opacity: 0; } to{ -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1; opacity: 1; }}
    @-o-keyframes fade-in{ from{ -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0; opacity: 0; } to{ -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1; opacity: 1; }}
    @keyframes fade-in{ from{ -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0; opacity: 0; } to{ -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1; opacity: 1; };
    }
    .minute-marks li:before {
      top: -230px;
    }
    .minute-marks li:after {
      bottom: -230px;
    }
    .minute-marks li.special.tickAfter:after,
    .minute-marks li.special.tickBefore:before{
      border-color: #e20091;
      height: 30px !important;
      width: 3px;
      background-color: #e20091;
    }
    .minute-marks .special.tickAfter:after{
      bottom: -215px!important;
    }
    .minute-marks .special.tickBefore:before{
      top: -215px!important;
    }

    .minute-marks li.five:before,
    .minute-marks li.five:after {
      width: 3px;
      height: 25px;
    }
    .minute-marks li.five:before {
      top: -220px;
    }
    .minute-marks li.five:after {
      bottom: -220px;
    }
    
    .minute-marks li:nth-child( 1) {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
    .minute-marks li:nth-child( 30):before {
      -webkit-animation-delay: 0.017s;
      -moz-animation-delay: 0.017s;
      -o-animation-delay: 0.017s;
      animation-delay: 0.017s;
    }
    .minute-marks li:nth-child( 30):after {
      -webkit-animation-delay: 0.544s;
      -moz-animation-delay: 0.544s;
      -o-animation-delay: 0.544s;
      animation-delay: 0.544s;
    }
    .minute-marks li:nth-child( 2) {
      -webkit-transform: rotate(6deg);
      -moz-transform: rotate(6deg);
      -o-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
      transform: rotate(6deg);
    }
    .minute-marks li:nth-child( 29):before {
      -webkit-animation-delay: 0.034s;
      -moz-animation-delay: 0.034s;
      -o-animation-delay: 0.034s;
      animation-delay: 0.034s;
    }
    .minute-marks li:nth-child( 29):after {
      -webkit-animation-delay: 0.561s;
      -moz-animation-delay: 0.561s;
      -o-animation-delay: 0.561s;
      animation-delay: 0.561s;
    }
    .minute-marks li:nth-child( 3) {
      -webkit-transform: rotate(12deg);
      -moz-transform: rotate(12deg);
      -o-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
      transform: rotate(12deg);
    }
    .minute-marks li:nth-child( 28):before {
      -webkit-animation-delay: 0.051000000000000004s;
      -moz-animation-delay: 0.051000000000000004s;
      -o-animation-delay: 0.051000000000000004s;
      animation-delay: 0.051000000000000004s;
    }
    .minute-marks li:nth-child( 28):after {
      -webkit-animation-delay: 0.5780000000000001s;
      -moz-animation-delay: 0.5780000000000001s;
      -o-animation-delay: 0.5780000000000001s;
      animation-delay: 0.5780000000000001s;
    }
    .minute-marks li:nth-child( 4) {
      -webkit-transform: rotate(18deg);
      -moz-transform: rotate(18deg);
      -o-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
      transform: rotate(18deg);
    }
    .minute-marks li:nth-child( 27):before {
      -webkit-animation-delay: 0.068s;
      -moz-animation-delay: 0.068s;
      -o-animation-delay: 0.068s;
      animation-delay: 0.068s;
    }
    .minute-marks li:nth-child( 27):after {
      -webkit-animation-delay: 0.595s;
      -moz-animation-delay: 0.595s;
      -o-animation-delay: 0.595s;
      animation-delay: 0.595s;
    }
    .minute-marks li:nth-child( 5) {
      -webkit-transform: rotate(24deg);
      -moz-transform: rotate(24deg);
      -o-transform: rotate(24deg);
      -ms-transform: rotate(24deg);
      transform: rotate(24deg);
    }
    .minute-marks li:nth-child( 26):before {
      -webkit-animation-delay: 0.085s;
      -moz-animation-delay: 0.085s;
      -o-animation-delay: 0.085s;
      animation-delay: 0.085s;
    }
    .minute-marks li:nth-child( 26):after {
      -webkit-animation-delay: 0.612s;
      -moz-animation-delay: 0.612s;
      -o-animation-delay: 0.612s;
      animation-delay: 0.612s;
    }
    .minute-marks li:nth-child( 6) {
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
    }
    .minute-marks li:nth-child( 25):before {
      -webkit-animation-delay: 0.10200000000000001s;
      -moz-animation-delay: 0.10200000000000001s;
      -o-animation-delay: 0.10200000000000001s;
      animation-delay: 0.10200000000000001s;
    }
    .minute-marks li:nth-child( 25):after {
      -webkit-animation-delay: 0.629s;
      -moz-animation-delay: 0.629s;
      -o-animation-delay: 0.629s;
      animation-delay: 0.629s;
    }
    .minute-marks li:nth-child( 7) {
      -webkit-transform: rotate(36deg);
      -moz-transform: rotate(36deg);
      -o-transform: rotate(36deg);
      -ms-transform: rotate(36deg);
      transform: rotate(36deg);
    }
    .minute-marks li:nth-child( 24):before {
      -webkit-animation-delay: 0.11900000000000001s;
      -moz-animation-delay: 0.11900000000000001s;
      -o-animation-delay: 0.11900000000000001s;
      animation-delay: 0.11900000000000001s;
    }
    .minute-marks li:nth-child( 24):after {
      -webkit-animation-delay: 0.646s;
      -moz-animation-delay: 0.646s;
      -o-animation-delay: 0.646s;
      animation-delay: 0.646s;
    }
    .minute-marks li:nth-child( 8) {
      -webkit-transform: rotate(42deg);
      -moz-transform: rotate(42deg);
      -o-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
      transform: rotate(42deg);
    }
    .minute-marks li:nth-child( 23):before {
      -webkit-animation-delay: 0.136s;
      -moz-animation-delay: 0.136s;
      -o-animation-delay: 0.136s;
      animation-delay: 0.136s;
    }
    .minute-marks li:nth-child( 23):after {
      -webkit-animation-delay: 0.663s;
      -moz-animation-delay: 0.663s;
      -o-animation-delay: 0.663s;
      animation-delay: 0.663s;
    }
    .minute-marks li:nth-child( 9) {
      -webkit-transform: rotate(48deg);
      -moz-transform: rotate(48deg);
      -o-transform: rotate(48deg);
      -ms-transform: rotate(48deg);
      transform: rotate(48deg);
    }
    .minute-marks li:nth-child( 22):before {
      -webkit-animation-delay: 0.15300000000000002s;
      -moz-animation-delay: 0.15300000000000002s;
      -o-animation-delay: 0.15300000000000002s;
      animation-delay: 0.15300000000000002s;
    }
    .minute-marks li:nth-child( 22):after {
      -webkit-animation-delay: 0.68s;
      -moz-animation-delay: 0.68s;
      -o-animation-delay: 0.68s;
      animation-delay: 0.68s;
    }
    .minute-marks li:nth-child( 10) {
      -webkit-transform: rotate(54deg);
      -moz-transform: rotate(54deg);
      -o-transform: rotate(54deg);
      -ms-transform: rotate(54deg);
      transform: rotate(54deg);
    }
    .minute-marks li:nth-child( 21):before {
      -webkit-animation-delay: 0.17s;
      -moz-animation-delay: 0.17s;
      -o-animation-delay: 0.17s;
      animation-delay: 0.17s;
    }
    .minute-marks li:nth-child( 21):after {
      -webkit-animation-delay: 0.6970000000000001s;
      -moz-animation-delay: 0.6970000000000001s;
      -o-animation-delay: 0.6970000000000001s;
      animation-delay: 0.6970000000000001s;
    }
    .minute-marks li:nth-child( 11) {
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -o-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      transform: rotate(60deg);
    }
    .minute-marks li:nth-child( 20):before {
      -webkit-animation-delay: 0.187s;
      -moz-animation-delay: 0.187s;
      -o-animation-delay: 0.187s;
      animation-delay: 0.187s;
    }
    .minute-marks li:nth-child( 20):after {
      -webkit-animation-delay: 0.714s;
      -moz-animation-delay: 0.714s;
      -o-animation-delay: 0.714s;
      animation-delay: 0.714s;
    }
    .minute-marks li:nth-child( 12) {
      -webkit-transform: rotate(66deg);
      -moz-transform: rotate(66deg);
      -o-transform: rotate(66deg);
      -ms-transform: rotate(66deg);
      transform: rotate(66deg);
    }
    .minute-marks li:nth-child( 19):before {
      -webkit-animation-delay: 0.20400000000000001s;
      -moz-animation-delay: 0.20400000000000001s;
      -o-animation-delay: 0.20400000000000001s;
      animation-delay: 0.20400000000000001s;
    }
    .minute-marks li:nth-child( 19):after {
      -webkit-animation-delay: 0.7310000000000001s;
      -moz-animation-delay: 0.7310000000000001s;
      -o-animation-delay: 0.7310000000000001s;
      animation-delay: 0.7310000000000001s;
    }
    .minute-marks li:nth-child( 13) {
      -webkit-transform: rotate(72deg);
      -moz-transform: rotate(72deg);
      -o-transform: rotate(72deg);
      -ms-transform: rotate(72deg);
      transform: rotate(72deg);
    }
    .minute-marks li:nth-child( 18):before {
      -webkit-animation-delay: 0.22100000000000003s;
      -moz-animation-delay: 0.22100000000000003s;
      -o-animation-delay: 0.22100000000000003s;
      animation-delay: 0.22100000000000003s;
    }
    .minute-marks li:nth-child( 18):after {
      -webkit-animation-delay: 0.748s;
      -moz-animation-delay: 0.748s;
      -o-animation-delay: 0.748s;
      animation-delay: 0.748s;
    }
    .minute-marks li:nth-child( 14) {
      -webkit-transform: rotate(78deg);
      -moz-transform: rotate(78deg);
      -o-transform: rotate(78deg);
      -ms-transform: rotate(78deg);
      transform: rotate(78deg);
    }
    .minute-marks li:nth-child( 17):before {
      -webkit-animation-delay: 0.23800000000000002s;
      -moz-animation-delay: 0.23800000000000002s;
      -o-animation-delay: 0.23800000000000002s;
      animation-delay: 0.23800000000000002s;
    }
    .minute-marks li:nth-child( 17):after {
      -webkit-animation-delay: 0.765s;
      -moz-animation-delay: 0.765s;
      -o-animation-delay: 0.765s;
      animation-delay: 0.765s;
    }
    .minute-marks li:nth-child( 15) {
      -webkit-transform: rotate(84deg);
      -moz-transform: rotate(84deg);
      -o-transform: rotate(84deg);
      -ms-transform: rotate(84deg);
      transform: rotate(84deg);
    }
    .minute-marks li:nth-child( 16):before {
      -webkit-animation-delay: 0.255s;
      -moz-animation-delay: 0.255s;
      -o-animation-delay: 0.255s;
      animation-delay: 0.255s;
    }
    .minute-marks li:nth-child( 16):after {
      -webkit-animation-delay: 0.782s;
      -moz-animation-delay: 0.782s;
      -o-animation-delay: 0.782s;
      animation-delay: 0.782s;
    }
    .minute-marks li:nth-child( 16) {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .minute-marks li:nth-child( 15):before {
      -webkit-animation-delay: 0.272s;
      -moz-animation-delay: 0.272s;
      -o-animation-delay: 0.272s;
      animation-delay: 0.272s;
    }
    .minute-marks li:nth-child( 15):after {
      -webkit-animation-delay: 0.799s;
      -moz-animation-delay: 0.799s;
      -o-animation-delay: 0.799s;
      animation-delay: 0.799s;
    }
    .minute-marks li:nth-child( 17) {
      -webkit-transform: rotate(96deg);
      -moz-transform: rotate(96deg);
      -o-transform: rotate(96deg);
      -ms-transform: rotate(96deg);
      transform: rotate(96deg);
    }
    .minute-marks li:nth-child( 14):before {
      -webkit-animation-delay: 0.28900000000000003s;
      -moz-animation-delay: 0.28900000000000003s;
      -o-animation-delay: 0.28900000000000003s;
      animation-delay: 0.28900000000000003s;
    }
    .minute-marks li:nth-child( 14):after {
      -webkit-animation-delay: 0.8160000000000001s;
      -moz-animation-delay: 0.8160000000000001s;
      -o-animation-delay: 0.8160000000000001s;
      animation-delay: 0.8160000000000001s;
    }
    .minute-marks li:nth-child( 18) {
      -webkit-transform: rotate(102deg);
      -moz-transform: rotate(102deg);
      -o-transform: rotate(102deg);
      -ms-transform: rotate(102deg);
      transform: rotate(102deg);
    }
    .minute-marks li:nth-child( 13):before {
      -webkit-animation-delay: 0.30600000000000005s;
      -moz-animation-delay: 0.30600000000000005s;
      -o-animation-delay: 0.30600000000000005s;
      animation-delay: 0.30600000000000005s;
    }
    .minute-marks li:nth-child( 13):after {
      -webkit-animation-delay: 0.8330000000000001s;
      -moz-animation-delay: 0.8330000000000001s;
      -o-animation-delay: 0.8330000000000001s;
      animation-delay: 0.8330000000000001s;
    }
    .minute-marks li:nth-child( 19) {
      -webkit-transform: rotate(108deg);
      -moz-transform: rotate(108deg);
      -o-transform: rotate(108deg);
      -ms-transform: rotate(108deg);
      transform: rotate(108deg);
    }
    .minute-marks li:nth-child( 12):before {
      -webkit-animation-delay: 0.323s;
      -moz-animation-delay: 0.323s;
      -o-animation-delay: 0.323s;
      animation-delay: 0.323s;
    }
    .minute-marks li:nth-child( 12):after {
      -webkit-animation-delay: 0.8500000000000001s;
      -moz-animation-delay: 0.8500000000000001s;
      -o-animation-delay: 0.8500000000000001s;
      animation-delay: 0.8500000000000001s;
    }
    .minute-marks li:nth-child( 20) {
      -webkit-transform: rotate(114deg);
      -moz-transform: rotate(114deg);
      -o-transform: rotate(114deg);
      -ms-transform: rotate(114deg);
      transform: rotate(114deg);
    }
    .minute-marks li:nth-child( 11):before {
      -webkit-animation-delay: 0.34s;
      -moz-animation-delay: 0.34s;
      -o-animation-delay: 0.34s;
      animation-delay: 0.34s;
    }
    .minute-marks li:nth-child( 11):after {
      -webkit-animation-delay: 0.867s;
      -moz-animation-delay: 0.867s;
      -o-animation-delay: 0.867s;
      animation-delay: 0.867s;
    }
    .minute-marks li:nth-child( 21) {
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -o-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      transform: rotate(120deg);
    }
    .minute-marks li:nth-child( 10):before {
      -webkit-animation-delay: 0.35700000000000004s;
      -moz-animation-delay: 0.35700000000000004s;
      -o-animation-delay: 0.35700000000000004s;
      animation-delay: 0.35700000000000004s;
    }
    .minute-marks li:nth-child( 10):after {
      -webkit-animation-delay: 0.8840000000000001s;
      -moz-animation-delay: 0.8840000000000001s;
      -o-animation-delay: 0.8840000000000001s;
      animation-delay: 0.8840000000000001s;
    }
    .minute-marks li:nth-child( 22) {
      -webkit-transform: rotate(126deg);
      -moz-transform: rotate(126deg);
      -o-transform: rotate(126deg);
      -ms-transform: rotate(126deg);
      transform: rotate(126deg);
    }
    .minute-marks li:nth-child( 9):before {
      -webkit-animation-delay: 0.374s;
      -moz-animation-delay: 0.374s;
      -o-animation-delay: 0.374s;
      animation-delay: 0.374s;
    }
    .minute-marks li:nth-child( 9):after {
      -webkit-animation-delay: 0.901s;
      -moz-animation-delay: 0.901s;
      -o-animation-delay: 0.901s;
      animation-delay: 0.901s;
    }
    .minute-marks li:nth-child( 23) {
      -webkit-transform: rotate(132deg);
    
      -moz-transform: rotate(132deg);
      -o-transform: rotate(132deg);
      -ms-transform: rotate(132deg);
      transform: rotate(132deg);
    }
    .minute-marks li:nth-child( 8):before {
      -webkit-animation-delay: 0.391s;
      -moz-animation-delay: 0.391s;
      -o-animation-delay: 0.391s;
      animation-delay: 0.391s;
    }
    .minute-marks li:nth-child( 8):after {
      -webkit-animation-delay: 0.918s;
      -moz-animation-delay: 0.918s;
      -o-animation-delay: 0.918s;
      animation-delay: 0.918s;
    }
    .minute-marks li:nth-child( 24) {
      -webkit-transform: rotate(138deg);
      -moz-transform: rotate(138deg);
      -o-transform: rotate(138deg);
      -ms-transform: rotate(138deg);
      transform: rotate(138deg);
    }
    .minute-marks li:nth-child( 7):before {
      -webkit-animation-delay: 0.40800000000000003s;
      -moz-animation-delay: 0.40800000000000003s;
      -o-animation-delay: 0.40800000000000003s;
      animation-delay: 0.40800000000000003s;
    }
    .minute-marks li:nth-child( 7):after {
      -webkit-animation-delay: 0.935s;
      -moz-animation-delay: 0.935s;
      -o-animation-delay: 0.935s;
      animation-delay: 0.935s;
    }
    .minute-marks li:nth-child( 25) {
      -webkit-transform: rotate(144deg);
      -moz-transform: rotate(144deg);
      -o-transform: rotate(144deg);
      -ms-transform: rotate(144deg);
      transform: rotate(144deg);
    }
    .minute-marks li:nth-child( 6):before {
      -webkit-animation-delay: 0.42500000000000004s;
      -moz-animation-delay: 0.42500000000000004s;
      -o-animation-delay: 0.42500000000000004s;
      animation-delay: 0.42500000000000004s;
    }
    .minute-marks li:nth-child( 6):after {
      -webkit-animation-delay: 0.9520000000000001s;
      -moz-animation-delay: 0.9520000000000001s;
      -o-animation-delay: 0.9520000000000001s;
      animation-delay: 0.9520000000000001s;
    }
    .minute-marks li:nth-child( 26) {
      -webkit-transform: rotate(150deg);
      -moz-transform: rotate(150deg);
      -o-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
      transform: rotate(150deg);
    }
    .minute-marks li:nth-child( 5):before {
      -webkit-animation-delay: 0.44200000000000006s;
      -moz-animation-delay: 0.44200000000000006s;
      -o-animation-delay: 0.44200000000000006s;
      animation-delay: 0.44200000000000006s;
    }
    .minute-marks li:nth-child( 5):after {
      -webkit-animation-delay: 0.9690000000000001s;
      -moz-animation-delay: 0.9690000000000001s;
      -o-animation-delay: 0.9690000000000001s;
      animation-delay: 0.9690000000000001s;
    }
    .minute-marks li:nth-child( 27) {
      -webkit-transform: rotate(156deg);
      -moz-transform: rotate(156deg);
      -o-transform: rotate(156deg);
      -ms-transform: rotate(156deg);
      transform: rotate(156deg);
    }
    .minute-marks li:nth-child( 4):before {
      -webkit-animation-delay: 0.459s;
      -moz-animation-delay: 0.459s;
      -o-animation-delay: 0.459s;
      animation-delay: 0.459s;
    }
    .minute-marks li:nth-child( 4):after {
      -webkit-animation-delay: 0.986s;
      -moz-animation-delay: 0.986s;
      -o-animation-delay: 0.986s;
      animation-delay: 0.986s;
    }
    .minute-marks li:nth-child( 28) {
      -webkit-transform: rotate(162deg);
      -moz-transform: rotate(162deg);
      -o-transform: rotate(162deg);
      -ms-transform: rotate(162deg);
      transform: rotate(162deg);
    }
    .minute-marks li:nth-child( 3):before {
      -webkit-animation-delay: 0.47600000000000003s;
      -moz-animation-delay: 0.47600000000000003s;
      -o-animation-delay: 0.47600000000000003s;
      animation-delay: 0.47600000000000003s;
    }
    .minute-marks li:nth-child( 3):after {
      -webkit-animation-delay: 1.0030000000000001s;
      -moz-animation-delay: 1.0030000000000001s;
      -o-animation-delay: 1.0030000000000001s;
      animation-delay: 1.0030000000000001s;
    }
    .minute-marks li:nth-child( 29) {
      -webkit-transform: rotate(168deg);
      -moz-transform: rotate(168deg);
      -o-transform: rotate(168deg);
      -ms-transform: rotate(168deg);
      transform: rotate(168deg);
    }
    .minute-marks li:nth-child( 2):before {
      -webkit-animation-delay: 0.49300000000000005s;
      -moz-animation-delay: 0.49300000000000005s;
      -o-animation-delay: 0.49300000000000005s;
      animation-delay: 0.49300000000000005s;
    }
    .minute-marks li:nth-child( 2):after {
      -webkit-animation-delay: 1.02s;
      -moz-animation-delay: 1.02s;
      -o-animation-delay: 1.02s;
      animation-delay: 1.02s;
    }
    .minute-marks li:nth-child( 30) {
      -webkit-transform: rotate(174deg);
      -moz-transform: rotate(174deg);
      -o-transform: rotate(174deg);
      -ms-transform: rotate(174deg);
      transform: rotate(174deg);
    }
    .minute-marks li:nth-child( 1):before {
      -webkit-animation-delay: 0.51s;
      -moz-animation-delay: 0.51s;
      -o-animation-delay: 0.51s;
      animation-delay: 0.51s;
    }
    .minute-marks li:nth-child( 1):after {
      -webkit-animation-delay: 1.037s;
      -moz-animation-delay: 1.037s;
      -o-animation-delay: 1.037s;
      animation-delay: 1.037s;
    }
    .stopDot{
      height: 15px;
      width: 15px;
      bottom: 79px;
      left: 50px;
      position: absolute;
      border-radius: 50%;
      transform-origin: top right;
      background: rgba(91,42,160,1);
      background: -moz-linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(91,42,160,1)), color-stop(64%, rgba(218,56,106,1)), color-stop(100%, rgba(218,56,106,1)));
      background: -webkit-linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
      background: -o-linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
      background: -ms-linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
      background: linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b2aa0', endColorstr='#da386a', GradientType=1 );
      opacity:0;
      -webkit-animation: fade-in 0.2s ease 0s 1 forwards;
      -moz-animation: fade-in 0.2s ease 0s 1 forwards;
      -o-animation: fade-in 0.2s ease 0s 1 forwards;
      animation: fade-in 0.2s ease 0s 1 forwards;
      -webkit-animation-delay: 0.867s;
      -moz-animation-delay: 0.867s;
      -o-animation-delay: 0.867s;
      animation-delay: 0.867s;      
  }
}
@-webkit-keyframes tick-dot{
  0%{ -webkit-transform: rotate(0deg); }
  21%{ -webkit-transform: rotate(-8deg); }
  26%{ -webkit-transform: rotate(-16deg); }
  33%{ -webkit-transform: rotate(-8deg); }
  37%{ -webkit-transform: rotate(-12deg); }
  100%{ -webkit-transform: rotate(-12deg); }}
@-moz-keyframes tick-dot{
  0%{ -moz-transform: rotate(0deg); }
  21%{ -moz-transform: rotate(-8deg); }
  26%{ -moz-transform: rotate(-16deg); }
  33%{ -moz-transform: rotate(-8deg); }
  37%{ -moz-transform: rotate(-12deg); }
  100%{ -moz-transform: rotate(-12deg); }}
@-o-keyframes tick-dot{
  0%{ -o-transform: rotate(0deg); }
  21%{ -o-transform: rotate(-8deg); }
  26%{ -o-transform: rotate(-16deg); }
  33%{ -o-transform: rotate(-8deg); }
  37%{ -o-transform: rotate(-12deg); }
  100%{ -o-transform: rotate(-12deg); }}
@keyframes tick-dot{
  0%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg); }
  21%{-webkit-transform: rotate(-8deg);-moz-transform: rotate(-8deg);-ms-transform: rotate(-8deg);transform: rotate(-8deg); }
  26%{-webkit-transform: rotate(-16deg);-moz-transform: rotate(-16deg);-ms-transform: rotate(-16deg);transform: rotate(-16deg); }
  33%{-webkit-transform: rotate(-8deg);-moz-transform: rotate(-8deg);-ms-transform: rotate(-8deg);transform: rotate(-8deg); }
  37%{-webkit-transform: rotate(-12deg);-moz-transform: rotate(-12deg);-ms-transform: rotate(-12deg);transform: rotate(-12deg); }
  100%{-webkit-transform: rotate(-12deg);-moz-transform: rotate(-12deg);-ms-transform: rotate(-12deg);transform: rotate(-12deg); };
}

.busInfoCont{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
}
.busInfoCont svg{
  height: 100%;
}

.busInfoCont .busIcon{
  height: 50px;
  width: 100%;
}
.busInfoCont .busName{
  color: #FFFFFF;
  font-size: 2.75em;
  font-weight: 700;
  margin: 0;
}

.clock-wrapper .timeLeft {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.clock-wrapper .timeLeft .time{
  color: #FFFFFF;
  font-size: 4em;
  font-weight: 800;
  margin: 0;
  width: 100%;
  text-align: right;
}
.clock-wrapper .timeLeft .time .timeUnit{
  font-size: 0.2em;
  text-transform: uppercase;
}
.btnFav{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: transparent;
  font-size: 1.25em;
}
.trackDivider{
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  height: 5px;
  background: rgba(120,107,198,1);
  background: -moz-linear-gradient(-45deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(120,107,198,1)), color-stop(37%, rgba(90,130,189,1)), color-stop(87%, rgba(0,178,173,1)), color-stop(100%, rgba(56,168,211,1)));
  background: -webkit-linear-gradient(-45deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  background: linear-gradient(135deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#786bc6', endColorstr='#38a8d3', GradientType=1 );
  width: 100%;
}

.busInfoTooltip {
  display: none;
}

.pgm-html-info-content-frame {
  /*position: absolute !important;*/
  border: 1px solid rgba(255, 0, 200, 0.9) !important;
  background-color: rgba(226, 0, 145, 0.8) !important;
  color: #fff !important;
  top: -15px !important;
  border-radius: 5px !important;
  width: 100% !important;
  height: auto !important;
}

.pgm-html-info-tail-frame {
  top:-16px !important;
}

.pgm-html-info-tail-right {
  border-top: 14px solid rgba(226, 0, 145, 0.8) !important;
}

.pgm-html-info-frame {
  width: 150px;
}

.pgm-html-info-tail-erase-border {
  background-color: transparent !important;
}

.pgm-html-info-content-box {
  padding: 0 !important;
}

.busInfoTooltipData:not(.busLastUpdated) {
  display: grid !important;
  grid-template-columns: 0.2fr 1fr !important;
  grid-column-gap: 0.2em !important;
  grid-row-gap: 0.4em !important;
  grid-template-rows: 15px 15px 15px 15px;
  vertical-align: bottom;
  padding: 10px;
}

.fichaGPSUpdated {
  text-align: left;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 10px;
}

.gpsGood:before {
  content: " ";
  background-image:  url(../assets/imgs/wifi-g.png);
  height: 18px;
  display: inline-block;
  width: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  background-size: contain;
}

.gpsWeak:before {
  content: " ";
  background-image: url(../assets/imgs/wifi-y.png);
  height: 18px;
  display: inline-block;
  width: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  background-size: contain;
}

.gpsBad:before {
  content: " ";
  background-image: url(../assets/imgs/wifi-r.png);
  background-size: contain;
  height: 18px;
  display: inline-block;
  width: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  background-size: contain;
}

.busLastUpdated {
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
}

.pgm-html-info-content-box .iAdap {
  margin: -5px;
  background-size: contain;
  background-repeat: no-repeat;
}

round-progress {
  padding-bottom: 50% !important;
  position: absolute !important;
  -webkit-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) scale(1.5) !important;
  right: -1em !important;
  top: 5.5em !important;
}