<ion-content padding>
    <h1 color="dark" class="sectionTitle">Recuperar contraseña</h1>
    <ion-item>
      <ion-label color="purple" stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="userData.email"></ion-input>
    </ion-item>
    
    <div padding>
      <button block ion-button round class="btnRegistrar" (click)="resetPassword()">Recuperar</button>
    </div>
    <p class="linkVolver" (click)="volverAWelcome()">Volver</p>
  </ion-content>
  