<ion-content padding class="no-scroll flex login">
  <div class="loginBG">
      <svg class="roundBottom" preserveAspectRatio="none" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="100" cy="148" fill="white" r="145"></circle>
      </svg>
  </div>
  <div class="loginForm">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 210.8 278.4" style="enable-background:new 0 0 210.8 278.4;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:url(#SVGID_1_);}
      </style>
      <g>
        <g>
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="32.6057" y1="273.6" x2="205.2528" y2="27.7419" gradientTransform="matrix(1 0 0 -1 0 284.6826)">
            <stop offset="0.278" style="stop-color:#E20091"/>
            <stop offset="0.4562" style="stop-color:#E20091"/>
            <stop offset="0.8958" style="stop-color:#E20091;stop-opacity:0.98"/>
            <stop offset="0.9802" style="stop-color:#E20091"/>
          </linearGradient>
          <path class="st0" d="M8.5,36.3c0,0-0.8-30,16.9-30s157.3,0,161,0s18.3,2.1,18.6,18.8c0.3,16.8-3.7,229.1-3.7,229.1s0,7.1-6.5,13.2    c-6.5,6.2-14,6.2-14,6.2S15.1,233,10.5,217.1C5.8,201.4,8.5,36.3,8.5,36.3z"/>
        </g>
      </g>
    </svg>
    <div class="formElements">
      <h2>INGRESAR</h2>
      <div class="redesLogin">
          <!-- <button class="btnRS" (click)="twitterLogin()"><ion-icon name="cl-twitter"></ion-icon></button> -->
          <button class="btnRS" (click)="googleLogin()"><ion-icon name="cl-google-plus"></ion-icon></button>
          <!-- <button class="btnRS" (click)="googleSilentLogin()"><ion-icon name="cl-google-plus"></ion-icon></button> -->
          
          <!-- <button class="btnRS" (click)="twitterLogin()"><ion-icon name="cl-facebook"></ion-icon></button>
          <button class="btnRS" (click)="twitterLogin()"><ion-icon name="cl-github"></ion-icon></button> -->
      </div>
      <form id="loginForm" ng-submit="signInUser()">
        <ion-label color="light">E-mail o Usuario:</ion-label>
        <!--<ion-input class="email" name="username" type="text" [(ngModel)]="userData.username"></ion-input>-->
        <input type="email" class="email" name="username" [(ngModel)]="userData.username" />
        <ion-label color="light">Contraseña:</ion-label>
        <input type="password" class="pass" name="password" [(ngModel)]="userData.password" />
        <!--<ion-input class="pass" name="password" type="password" [(ngModel)]="userData.password"></ion-input>-->
        <p class="recuperarPass" (click)="forgotPassword()"><span class="link">¿Olvidaste tu contraseña?</span></p>
        <button type="submit" ion-button color="light" block round class="uppercase btnEntrar" (click)="signInUser()">Entrar</button>
      </form>
      <p class="recuperarPass registro">¿No tienes una cuenta aún? <span class="link" (click)="register()">Registrarse</span></p>
      <!-- <img src="./assets/imgs/logoCL.png" class="signInBtn" (click)="signInUser()" > -->
    </div>
  </div>
  <!-- <p>{{responseText}}</p> -->
  <p class="linkVolver" (click)="volverAWelcome()">Volver</p>


</ion-content>
