page-login {

}
@import '../../app/app.scss';
ion-content.content-md[padding] .scroll-content {
	padding-bottom: 16px !important;
}

ion-content.content-md:not([padding]) .scroll-content {
	padding-bottom: 0 !important;
}
.loginBG{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-image: url("#{$BASE_URL_IMGS}bgLogin.png");
    /*background-image: url("#{$BASE_URL_IMGS}bgLogin.png");*/
    background-size: cover;
} 
.loginBG::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	background: rgba(255,56,156,0.75);
    background: -moz-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,0.75)), color-stop(38%, rgba(255,112,179,0.75)), color-stop(100%, rgba(255,226,112,0.75)));
    background: -webkit-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: linear-gradient(135deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );

    // background: rgba(39,138,177,0.75);
    // background: -moz-linear-gradient(-45deg, rgba(39,138,177,0.75) 0%, rgba(0,127,123,0.75) 12%, rgba(65,105,163,0.75) 62%, rgba(87,71,183,0.75) 100%);
    // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(39,138,177,0.75)), color-stop(12%, rgba(0,127,123,0.75)), color-stop(62%, rgba(65,105,163,0.75)), color-stop(100%, rgba(87,71,183,0.75)));
    // background: -webkit-linear-gradient(-45deg, rgba(39,138,177,0.75) 0%, rgba(0,127,123,0.75) 12%, rgba(65,105,163,0.75) 62%, rgba(87,71,183,0.75) 100%);
    // background: -o-linear-gradient(-45deg, rgba(39,138,177,0.75) 0%, rgba(0,127,123,0.75) 12%, rgba(65,105,163,0.75) 62%, rgba(87,71,183,0.75) 100%);
    // background: -ms-linear-gradient(-45deg, rgba(39,138,177,0.75) 0%, rgba(0,127,123,0.75) 12%, rgba(65,105,163,0.75) 62%, rgba(87,71,183,0.75) 100%);
    // background: linear-gradient(135deg, rgba(39,138,177,0.75) 0%, rgba(0,127,123,0.75) 12%, rgba(65,105,163,0.75) 62%, rgba(87,71,183,0.75) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278ab1', endColorstr='#5747b7', GradientType=1 );
}
.loginBG .roundBottom{
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 50px;
}
.loginForm {
    max-width: 350px;
    width: 95%;
    margin: 0 auto;
    position: relative;
}
.loginForm svg{
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(0,0,0,0.5) );
            filter: drop-shadow( 0px 0px 5px rgba(0,0,0,0.5) );
}
.loginForm .formElements{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px 40px 40px;
}

.loginForm .formElements .email {
    background-color: #f4f4f4;
    margin-bottom: 1px;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #000;
    padding-left:20px;
    margin-top: 15px;
    height: 34px;
    width: 100%;
}
.loginForm .formElements .pass {
    background-color: #f4f4f4;
    margin-bottom: 1px;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #000;
    padding-left:20px;
    height: 34px;
    width: 100%;
}
.loginForm .formElements ion-label {
    margin: 13px 8px 5px 0;
}
.loginForm .formElements  input.text-input{
    max-height: 30px;
    height: 30px;
    margin: 0;
}
.loginForm .formElements .text-input::-moz-placeholder {
    color: white;
  }

.loginForm .formElements .text-input:-ms-input-placeholder {
color: white;
}

.loginForm .formElements .text-input::-webkit-input-placeholder {
text-indent: 0;
color: white;
}
.loginForm .formElements .recuperarPass{
    margin: 10px 0px 0px 10px;
    font-size: 0.85em;
    color: #FFF;
    font-style: italic;
}
.loginForm .formElements .recuperarPass.registro{
    margin-left: 10%;
}
.loginForm .formElements .recuperarPass .link{
    text-decoration: underline;
}

.loginForm .formElements .signInBtn{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.loginForm .formElements h2{
    color: #FFF;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.loginForm .formElements .redesLogin{
    text-align: center;
}
.loginForm .formElements .btnRS{
    width: 40px;
    transition: none;
    height: 40px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #FFF;
    display: inline-block;
    margin: 0px 5px;
    color: #FFF;
    border-radius: 50%;
    padding: 5px;
}

.login .linkVolver{
    position: absolute;
    bottom: 0.625em;
}
.loginForm .formElements .btnEntrar{
  margin-left: 10%;
  margin-top: 8%;
  width: 80%;
  color: rgb(210, 9, 108);
}
/* Small devices such as phone */
@media (max-width: 374px) {
    .loginForm .formElements{
        padding: 30px 30px 40px 30px;
    }
    .loginForm .formElements .email{
        margin-top: 0px;
    }
    .loginForm .formElements .pass{
        margin-top: 0px;
    }
    .loginForm .formElements .recuperarPass.registro{
        margin-top: 0px;
    }
}
