<!-- Generated template for the TroncalListComponent component -->
<div class="sideBarTroncales">
  <button ion-button color="light" round class="rounded" *ngFor="let t of listTroncales" (click)="getLineas(t)">
      {{t}}
  </button>
</div>
