troncal-list {

}

.sideBarTroncales{
    width: 75px;
    height: 100%;
    background: rgb(56,168,211);
    background: -moz-linear-gradient(top, rgba(56,168,211,0.75) 0%, rgba(0,178,173,0.75) 13%, rgba(90,130,189,0.75) 62%, rgba(120,107,198,0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(56,168,211,0.75) 0%,rgba(0,178,173,0.75) 13%,rgba(90,130,189,0.75) 62%,rgba(120,107,198,0.75) 100%);
    background: linear-gradient(to bottom, rgba(56,168,211,0.75) 0%,rgba(0,178,173,0.75) 13%,rgba(90,130,189,0.75) 62%,rgba(120,107,198,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a8d3', endColorstr='#786bc6',GradientType=1 );
    text-align: right;
}

.sideBarTroncales .rounded{
    padding: 0;
    width: 40px;
    height: 40px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    font-size: 1em;
    margin-top: 15px;
    margin-right: 12.5px;
    display: inline-block;
    padding-bottom: 100px;
}
.sideBarTroncales .rounded:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
}

.sideBarTroncales .rounded:focus{
    -webkit-box-shadow: 0px 0px 10px 3px rgba(120,107,198, 0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(120,107,198, 0.75);
    box-shadow: 0px 0px 10px 3px rgba(120,107,198, 0.75);
}