<ion-content class="no-scroll">
    <div padding>
        <h1 color="dark" class="sectionTitle">Términos y Condiciones</h1>
        <p class="linkVolver" (click)="volverAWelcome()">Volver</p>
    </div>
</ion-content>