// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* URL genérica para acceder a archivos estáticos */
$BASE_URL_IMGS : "https://modernizacionmunicba.github.io/cdn/go/img/";
ion-icon {
    &[class*="cl-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1.5em!important;
        height: 1.5em!important;
    }
    // custom icons
    &[class*="cl-colectivo"] {
        mask-image: url(../assets/imgs/b-nuevo.png);
    }
    &[class*="cl-home"] {
        mask-image: url("#{$BASE_URL_IMGS}pin-de-google.svg");
    }
    &[class*="cl-trole"] {
        mask-image: url("#{$BASE_URL_IMGS}trole.svg");
    }
    &[class*="cl-star"] {
        mask-image: url(../assets/imgs/star-filled.svg);
    }
    &[class*="cl-star-outline"] {
        mask-image: url(../assets/imgs/star.svg);
    }
    &[class*="cl-menu"] {
        mask-image: url(../assets/imgs/icon-menu-cuando-llega.png);
    }
    &[class*="cl-plane"] {
        mask-image: url(../assets/imgs/plane.svg);
    }
    &[class*="cl-planeFichaFinal"] {
        mask-image: url(../assets/imgs/plane.svg);
        background: rgb(255,255,255);
    }
    &[class*="cl-facebook"] {
        mask-image: url(../assets/imgs/social/facebook.svg);
    }
    &[class*="cl-twitter"] {
        mask-image: url(../assets/imgs/social/twitter.svg);
    }
    &[class*="cl-google-plus"] {
        mask-image: url(../assets/imgs/social/google-plus.svg);
    }
    &[class*="cl-github"] {
        mask-image: url(../assets/imgs/social/github.svg);
    }
    &[class*="cl-comentario"] {
        mask-image: url(../assets/imgs/icono-pensamiento.svg);
    }
    &[class*="cl-espera"] {
        mask-image: url(../assets/imgs/icono-espera.svg);
    }

    &[class*="dt-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 6em !important;
        height: 7.5em !important;
    }
    &[class*="dt-colectivo"] {
        mask-image: url(../assets/imgs/bus-icon-cuando-llega.png);
    }

}
.menu-app{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("#{$BASE_URL_IMGS}fondo-menu.png");
    background-size: cover;
}

.menu-app::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,56,156,1);
    background: -moz-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,0.75)), color-stop(38%, rgba(255,112,179,0.75)), color-stop(100%, rgba(255,226,112,0.75)));
    background: -webkit-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: linear-gradient(135deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
}
.boton-menu {
    padding-left: 30px;
    padding-right: 0;
    margin: 10px 0;
    position: relative;
    font-weight: normal;
    text-transform: none;
    color: rgb(255, 255, 255);;
    background-color: rgba(255, 255, 255, 0);
}

.footer-md::before {
    background-image: none !important;
}

.list-md .item-block .item-inner, .item-md.item-block .item-inner {
    border-bottom: none !important;
}

.titulo-menu {
    padding-left: 18px;
    padding-right: 0;
    margin-top:1px;
    position: relative;
    font-weight: bolder;
    text-transform: none;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
}

.item-menu
{
    padding-top: 36px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 0px solid rgba(222, 222, 222, 0)!important;
    margin-bottom: 27px;
    display: inline-flex;
    margin-left: 6%;
}
.fondo-img
{
    background-image: url(../assets/imgs/go-menu.png)!important;
    background-size: cover!important;
    width: 65px!important;
    height: 65px!important;
}

.tit{
    width: 80%!important;
    display: inline-block!important;
    margin-bottom: 20px;
    margin-top: 5%;
}

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ff56cf;
    background: linear-gradient(180deg, #ffe7a9 0%, #ff6ac9 100%);
}

.splash .loader {
    width: 100%;
}
.splash .goLogo{
    width: 90%;
    margin: 90px auto;
    max-width: 400px;
}

.splash .animatedBus{
    margin-top: 40px;
}

.splash .roadLines{
    background-color: #FFFFFF !important;
}


