
<!-- -->
<div *ngIf="showSplash" class="splash">
    <div aria-label="Viajá con GO" class="loader">
      <div class="goLogo"><img src="./assets/imgs/go-logo.svg" alt='Viaja con GO'/></div>
      <div class="animatedBus">
        <div class="wrapper">
          <div class="center">
            <img src="./assets/imgs/busAnimation/bus.png" alt="" class="bus"/>
          </div>
          <div class="wrapper-3">
            <div class="center">
              <img src="./assets/imgs/busAnimation/wheels.png" alt="" class="bus"/>
            </div>
          </div>
          <div class="wrapper-2">
            <div class="roadLine roadLines"></div>
            <img src="./assets/imgs/busAnimation/roadLines.png" alt="" class="road"/>
          </div>
        </div>
      </div>
    </div>
</div>
	
<!-- Corresponde al menu principal derecho -->
<ion-menu [content]="content" side="right" type="overlay" [swipeEnabled]="true">
  <ion-content class="menu-app">
     <div class="item-menu">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
                <div class="fondo-img"></div>
            </ion-col>
            <ion-col col-9>
                <h4 class="titulo-menu">Estás viajando con Go</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
     </div>
    <ion-list>
      <button class="boton-menu" menuClose ion-item *ngFor="let p of pages; let i = index" (click)="openPage(p)">
			{{p.title}}
			<ion-badge item-end color="danger" *ngIf="i == 0 && _unreadMsgCount > 0">{{ _unreadMsgCount }}</ion-badge>
      </button>
    </ion-list>
  </ion-content>
  <ion-footer class="bar-stable">
      <button class="boton-menu" menuClose ion-item *ngFor="let p of pagesBottom" (click)="openPage(p)"> {{p.title}}</button>
  </ion-footer>
</ion-menu>
<!-- Fin Menu principal -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
