<ion-content class="no-scroll">

  <div class="contenedorSlider" *ngIf="tutorial == 1">
    <button ion-button class="btnOmitir sombraTutorial" color="light" (click)="omitirTutorial()">Omitir</button>
    <ion-slides class="sliderTutorial sombraTutorial" #slides pager="true" spaceBetween="10">
      <ion-slide class="slide-1"></ion-slide>
      <ion-slide class="slide-2"></ion-slide>
      <ion-slide class="slide-3"></ion-slide>
      <ion-slide class="slide-4"></ion-slide>
      <ion-slide class="slide-5"></ion-slide> 
      <ion-slide class="slide-6"></ion-slide>
      <ion-slide class="slide-7"></ion-slide>
      <ion-slide class="slide-8"></ion-slide>
      <ion-slide class="slide-9"></ion-slide>
      <ion-slide class="slide-10"></ion-slide>
    </ion-slides>
  </div>

  <div id="colectivos">
    <div id="map" aria-live="off">
      <ion-fab right class="extraTop">
        <button attr.aria-label="Actualmente hay {{ cantidadUnidades }} colectivos activos." ion-fab (click)="showCantidadUnidadesMessage()" color="orange" outline>
          <ion-icon name="cl-colectivo"></ion-icon>
          {{ cantidadUnidades }}
        </button>
      </ion-fab>

      <div class="bgColectivos" [ngClass]="{'show': colecBG, 'p': colecBG, 'coverScreen': selectedTroncal!= null }">
        <div class="flechaUpOverflow" *ngIf="overflow"> <ion-icon ios="ios-arrow-up" md="md-arrow-up"></ion-icon> </div>
          <div class="ramalesContainer  animated flipInY" id="ramales" >
            <div class="ramalCont" *ngFor="let t of troncales; let i = index" [ngClass]="{'show': selectedTroncal==troncales[troncales.length-i-1], 'first':i==0 || i==1 || i==3 }">
              
              <div class="btnRamal">
                <button attr.aria-label="Troncal {{troncales[troncales.length-i-1].nombre}}. Presione para seleccionar línea." ion-fab color="light" class="rounded troncales" (click)="selectTroncal(troncales[troncales.length-i-1])">
                  <span *ngIf="troncales[troncales.length-i-1].nombre!='TROLEBUSES' && troncales[troncales.length-i-1].nombre!='AEROPUERTO' && troncales[troncales.length-i-1].nombre!='BARRIALES'">{{troncales[troncales.length-i-1].nombre}}</span> <!-- Uso esto para mostrar de abajo para arriba-->
                  <span *ngIf="troncales[troncales.length-i-1].nombre=='BARRIALES'">B</span>
                  <ion-icon *ngIf="troncales[troncales.length-i-1].nombre=='TROLEBUSES'" name="cl-trole"></ion-icon>
                  <ion-icon *ngIf="troncales[troncales.length-i-1].nombre=='AEROPUERTO'" name="cl-plane"></ion-icon>
                </button>
              </div>

              <div *ngIf="selectedLinea !=-1 && selectedTroncal == troncales[troncales.length-i-1]" class="recorridoCont">
                <div class="recorrido" *ngFor="let rec of curRecorridos" (click)="mostrarParadasLinea(rec.id)">
                  {{rec.descripcion_larga}}
                  <div class="recorridoDot"></div>
                </div>
              </div>

              <div class="lineasCont animated flipInX" [id]="'lineas_'+troncales[troncales.length-i-1].id">
                <div class="" [ngClass]="{'active': selectedLinea==l}" *ngFor="let l of troncales[troncales.length-i-1].lineas"  >
                  <button attr.aria-label="Línea {{l.nombre}} seleccionada. Tiene {{l.unidadesActivas}} unidades activas." ion-fab color="light" *ngIf="troncales[troncales.length-i-1].nombre!='AEROPUERTO' " class="rounded linea" (click)="selectLinea(l)">
                    <span>{{l.nombre}}</span>
                    <ion-badge class="badge-infoLineas" color="danger">
                      <ion-spinner *ngIf="l.unidadesActivas == -1" color="light"></ion-spinner>
                      <span *ngIf="l.unidadesActivas != -1">{{l.unidadesActivas}}</span>
                    </ion-badge>
                  </button>
                  <button attr.aria-label="Línea {{l.nombre}}. Tiene {{l.unidadesActivas}} activas." ion-fab color="light"  *ngIf="troncales[troncales.length-i-1].nombre=='AEROPUERTO'"  class="rounded" (click)="selectLinea(l)">
                    <ion-icon name="cl-plane"></ion-icon>
                    <ion-badge class="badge-infoLineas" color="danger">
                      <ion-spinner *ngIf="l.unidadesActivas == -1" color="light"></ion-spinner>
                      <span *ngIf="l.unidadesActivas != -1">{{l.unidadesActivas}}</span>
                    </ion-badge>
                  </button>
                </div>
              </div>
              
              <div class="flechaOverflow" *ngIf="troncales[troncales.length-i-1].overflow && selectedTroncal==troncales[troncales.length-i-1] "> <ion-icon ios="ios-arrow-forward-outline" md="md-arrow-forward"></ion-icon> </div>
            </div>
          </div>
      </div>
    </div>

    <div class="appVersion">
      <div class="verWrapper">
        <span class="textoVersion" *ngIf= "txtLinea != 'x'">Línea {{txtLinea}}</span>
        <span class="textoVersion" *ngIf= "txtLinea == 'x'">Debe seleccionar una línea</span>
        <ion-spinner color="primary" *ngIf= "_loadingLinea == true"  ></ion-spinner>
      </div>
      <span class="nroVersion">{{versionNumber}}</span>
    </div>
    <!-- <button bottom ion-fab color="light" style="top: 14%;right: 4%;position: absolute;z-index: 10;" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSdr71Z-7ECV6nUMBNe-Xqa3XeXXv1bnwBAQk5HToTy6xkldwQ/viewform?usp=pp_url&entry.106983961=0.5.112', '_system', 'location=yes'); return false;">
      <ion-icon name="cl-comentario"></ion-icon>
    </button> -->
    <div class="menu" *ngIf="tutorial == 0">
      <ion-fab bottom left id="btn_wrap1">
        <button aria-label="Abrir listado de troncales." id="btn_troncales" ion-fab color="light" class="rounded efectoLat" (click)="toggleTroncales()"><ion-icon name="cl-colectivo"></ion-icon></button>
      </ion-fab>
      <ion-fab bottom centerLeft>
        <button aria-label="Abrir colectivos en espera." ion-fab color="light" class="rounded" (click)="pageEspera()"><ion-icon name="cl-espera"></ion-icon></button>
      </ion-fab>
      <ion-fab bottom centerRight>
          <button aria-label="Abrir listado de paradas favoritas." ion-fab color="light" class="rounded" (click)="pageFavoritos()"><ion-icon name="cl-star"></ion-icon></button>
      </ion-fab>
      <ion-fab bottom right>
        <div id="fabButton-menu">
          <button ion-fab aria-label="Abrir menú de opciones." menuToggle color="light" class="rounded"><ion-icon name="cl-menu"></ion-icon></button>
          <ion-badge class="uInbox-badge" color="danger" *ngIf="_unreadMsgCount > 0">{{ _unreadMsgCount }} </ion-badge>
        </div>
      </ion-fab>
    </div>

  </div>

</ion-content>
