page-home {

}
@import '../../app/app.scss';
.sombraTutorial{
  -webkit-box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 26px 3px rgba(0,0,0,0.75);
}
.contenedorSlider{
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: inline-flex!important;
  position: absolute!important;
  background-color: rgba(197, 196, 196, 0.9)
}
.btnOmitir{
  position: absolute;
  right: 11%;
  top: 6%;
  background-color: rgb(240, 94, 162);
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  border-radius: 6px;
}
.sliderTutorial {
  z-index: 20;
  width: 70%;
  top: 16%;
  left: 15%;
  height: 70%;
  display: inline-flex!important;
  position: absolute!important;
}
.sliderTutorial .slide-1{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}1.jpg")
}
.sliderTutorial .slide-2{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}2.jpg");
}
.sliderTutorial .slide-3{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}3.jpg");
}
.sliderTutorial .slide-4{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}4.jpg");
}
.sliderTutorial .slide-5{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}5.jpg");
}
.sliderTutorial .slide-6{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}6.jpg");
}
.sliderTutorial .slide-7{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}7.jpg");
}
.sliderTutorial .slide-8{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}7_1.jpg");
}
.sliderTutorial .slide-9{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}8.jpg");
}
.sliderTutorial .slide-10{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("#{$BASE_URL_IMGS}9.jpg");
}
.mano{
  background-image: url("#{$BASE_URL_IMGS}finder-sin-aire.svg")!important;
  background-size: cover!important;
  width: 2.5rem;
  height: 4rem;
  background-repeat: no-repeat!important;
}
.manoTutorial-slider4{
  width: 80px;
  height: 80px;
  background: none;
  z-index: 21;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 11%;
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  rotation: 324deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.manoTutorial-slider6{
  width: 80px;
  height: 80px;
  background: none;
  z-index: 21;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 11%;
  -webkit-transform: rotate(68deg);
  -moz-transform: rotate(68deg);
  rotation: 68deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.manoTutorial-slider5{
  width: 80px;
  height: 80px;
  background: none;
  z-index: 21;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 11%;
  left:70%;
  bottom: 55%;
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(350deg);
  rotation: 350deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.manoTutorial-slider3{
  width: 80px;
  height: 80px;
  background: none;
  z-index: 21;
  display: flex;
  position: absolute;
  bottom: 11%;
  -webkit-transform: rotate(350deg);
	-moz-transform: rotate(350deg);
	rotation: 350deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.manoTutorial{
  width: 80px;
  height: 80px;
  background: none;
  z-index: 21;
  display: flex;
  position: absolute;
  bottom: 11%;
  -webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	rotation: 30deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.manoTutorial .manoPrimera{
  left: 11%;
}
.manoTutorial .manoSegunda{
  left: 20%;
}
@keyframes tossing {
  0% {transform: rotate(-4deg);}
  50% {transform: rotate(4deg);}
  100% {transform: rotate(-4deg);}
}
/* en  */
.tossing {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  background: none;
}


.no-scroll .scroll-content{
    overflow: hidden;
  }
body{
    background-color: #f5f5f5;
}

#map{
    height: 100% !important;
    width: 100% !important;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

#colectivos{
    position: absolute;
    bottom: 0;
    width: 100%!important;
    height: 100%!important;
    overflow: scroll;
}
#colectivos::before{
    content:"";
    display: block;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 );
}
ion-fab[left] {
    left: 20px;
    left: calc(20px + constant(safe-area-inset-left));
    left: calc(20px + env(safe-area-inset-left));
}
ion-fab[center] {
    left: 50%;
    left: calc(20px + constant(safe-area-inset-left));
    left: calc(20px + env(safe-area-inset-left));
}
ion-fab[centerLeft] {
    left: 30%;
    left: calc(30% + constant(safe-area-inset-left));
    left: calc(30% + env(safe-area-inset-left));
}
ion-fab[centerRight] {
    right: 30%;
    right: calc(30% + constant(safe-area-inset-right));
    right: calc(30% + env(safe-area-inset-right));
}

ion-fab[right] {
    right: 20px;
    right: calc(20px + constant(safe-area-inset-right));
    right: calc(20px + env(safe-area-inset-right));
}

ion-fab[bottom] {
  bottom: 20px;
}

ion-fab.extraTop {
  top: 105px;
  z-index: 11;
}

menu{
  z-index: 10;
}
hr{
  position: fixed;
    top: 40%;
    height: 10px;
    /* border: 6px solid; */
    width: 100%;
    background: #38a8d3;
    background: -webkit-gradient(left top, right top, color-stop(0%, #38a8d3), color-stop(28%, #38a8d3), color-stop(45%, #00b2ac), color-stop(86%, #5a81bd), color-stop(100%, #786bc6));
    background: -webkit-gradient(linear, left top, right top, from(#38a8d3), color-stop(28%, #38a8d3), color-stop(45%, #00b2ac), color-stop(86%, #5a81bd), to(#786bc6));
    background: linear-gradient(to right, #38a8d3 0%, #38a8d3 28%, #00b2ac 45%, #5a81bd 86%, #786bc6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a8d3', endColorstr='#786bc6', GradientType=1 );
}

.appVersion {
  margin-top: $navbar-ios-height;
  background: rgba(255,56,156,1);
  background: -moz-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,1)), color-stop(38%, rgba(255,112,179,1)), color-stop(100%, rgba(255,226,112,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  background: linear-gradient(135deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
  color: #FFF;
  font-size: 1.25em;
  display: inline-block;
  text-align: left;
  padding: 15px 10px;
  width: 100%;
}

.appVersion .verWrapper {
  display: inline-block;
}

.appVersion ion-spinner {
  padding-top: 0;
  margin-left: 5px;
  height: 25px;
  width: 25px;
  position: absolute;
}

.appVersion .nroVersion {
  font-weight: bold;
  float: right;
}

#colectivos .rounded{
  border-radius: 50%;
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, .4);
  contain: unset;
  overflow: visible;
}
/*#colectivos .rounded:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
}*/

#colectivos .rounded:focus{
    -webkit-box-shadow: 0px 0px 10px 3px rgba(120,107,198, 0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(120,107,198, 0.75);
    box-shadow: 0px 0px 10px 3px rgba(120,107,198, 0.75);
}
#colectivos .troncales{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px 0px 10px 28px;
    -webkit-transition: opacity 200ms ease 10ms, -webkit-transform 200ms ease 10ms;
    transition: opacity 200ms ease 10ms, -webkit-transform 200ms ease 10ms;
    transition: transform 200ms ease 10ms, opacity 200ms ease 10ms;
    transition: transform 200ms ease 10ms, opacity 200ms ease 10ms, -webkit-transform 200ms ease 10ms;
    -webkit-transform: scale(0);
    transform: scale(0);
}
#colectivos .bgColectivos.show .troncales{
    transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transition: opacity 200ms ease 10ms, -webkit-transform 200ms ease 10ms;
    transition: opacity 200ms ease 10ms, -webkit-transform 200ms ease 10ms;
    transition: transform 200ms ease 10ms, opacity 200ms ease 10ms;
    transition: transform 200ms ease 10ms, opacity 200ms ease 10ms, -webkit-transform 200ms ease 10ms;
}
.bgColectivos{
    /*z-index: 11 !important;*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    width: 85px;
    height: 0px;
    background: rgba(255,56,156,0.75);
    background: -moz-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,0.75)), color-stop(38%, rgba(255,112,179,0.75)), color-stop(100%, rgba(255,226,112,0.75)));
    background: -webkit-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    background: linear-gradient(135deg, rgba(255,56,156,0.75) 0%, rgba(255,112,179,0.75) 38%, rgba(255,226,112,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.bgColectivos.show{
    width: 85px;
    height: 100%;
    /*z-index: 11 !important;*/
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    padding-top: #{$navbar-ios-height};
}
.bgColectivos.show.coverScreen{
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 11 !important;
}
.bgColectivos.show p{
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  position: fixed;
  background-color: #202454;
  border-bottom: 40px;
  width: 70%;
  color: rgb(255, 255, 255);
  margin-left: 26%;
  padding: 7px;
  border-radius: 25px;
  top: 20%;
  display: block;
}
.ocultar{
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  display:block!important;
}
.mostrarEspera{
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  display:block!important;
  z-index: 20!important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ramalesContainer{
    height: calc(100% - 75px);
    overflow: scroll;
    overflow-x: hidden;
    z-index: 2;
}
.ramalesContainer.imgLogo{
  background-position-y: 15%;
  background-image: url(../assets/imgs/logoCL.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position-x: 80%;
}
.btnRamal{
    width: 75px;
    display: table-row;
    padding:5px;
}
.btnRamal button{
    padding:5px;
}
.btnRamal .check {
  font-size: 2em;
  vertical-align: middle;
  margin-right: -25px;
}
.btnRamal .check .select1{
  border-radius: 50%;
  border: 3px solid #d4e5f5;
}
.ramalCont{
    position: relative;
    height: 50px;
}
.lineasCont{
    width: calc(100% - 105px);
    opacity: 0;
    -webkit-transition: all 150ms ease-in-out 50ms;
    -moz-transition: all 150ms ease-in-out 50ms;
    -o-transition: all 150ms ease-in-out 50ms;
    transition: all 150ms ease-in-out 50ms;
    position: absolute;
    top: 0px;
    left: 76px;
    padding: 15px 10px;
    display: none;

}
.bgColectivos.coverScreen .ramalCont.show .lineasCont{
    opacity: 1;
    display: inline-flex;
    /*overflow-x: scroll;*/
    overflow-x: auto;
    -webkit-transition: all 150ms ease-in-out 50ms;
    -moz-transition: all 150ms ease-in-out 50ms;
    -o-transition: all 150ms ease-in-out 50ms;
    transition: all 150ms ease-in-out 50ms;
}

.lineasCont .linea{
    display: inline-block;
    margin: -5px 7px 0px 7px;
    color: #000;
    font-size: 1em;
    border-radius: 50%;
    padding: 4px 12px 12px 13px;
    background-image: url(../assets/imgs/bondi-nuevo-l.png);
    background-size:  95% 95%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: rgb(255, 255, 255);
    width: 51px;
    height: 51px;
    
}

// .lineasCont .linea.active,
// .lineasCont .linea.active:hover{
//     border-radius: 0;
//     border-bottom: 3px solid #FFFFFF;
//     cursor: pointer;
// }
.lineasCont .linea.active,
.lineasCont .linea.active:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(120,107,198, 0.75);
}

.lineasCont .linea.active:focus{
    -webkit-box-shadow: 0px 0px 10px 3px rgba(120,107,198, 0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(120,107,198, 0.75);
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
}

.recorridoCont{
    color: #515151;
    max-width: calc(100% - 85px);
    padding: 6% 5px;
    position: absolute;
    bottom: 55px;
    right: 20px;
    top:auto;
    text-align: right;
    z-index: 999;
  }
  .ramalCont.first .recorridoCont{
    color: #515151;
    max-width: 70%;
    padding: 6% 5px;
    position: absolute;
    top: 40px;
    bottom:auto;
    text-align: right;
  }
  .ramalCont .recorridoCont .recorrido{
    background-color: #FAFAFB;
    margin-top: 5px;
    display: block;
    padding: 2.5px 5px;
    text-align: right;
    float: right;
    clear: right;
  }
  .recorridoCont .checkbox-icon{
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  .flechaOverflow{
    position: absolute;
    right: 10px;
    top: 19px;
    color: #FFF;
  }
  .flechaUpOverflow{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 3%;
    left: 50%;
  }
  .recorridoDot{
    width: 10px;
    height: 10px;
    border: 1px solid #c8c7cc;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  .ramalCont .recorridoCont .recorrido:hover   .recorridoDot,
  .recorridoDot.active,
  .recorridoDot:hover{
    background-color: #E27B7B;
    border-color: #E27B7B;
    cursor: pointer;
}

.badge-infoLineas {
  position: absolute;
  background-color: red;
  border-radius: 100%;
  bottom: -10px;
  right: 0px;
  padding: 0;
  line-height: 1.5em;
  height: 20px;
  width: 20px;
}

ion-spinner {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  padding-top: 1.5em;
}


/* #135_notif-usuarios: Es necesario posicionar de esta manera los elementos para que la notificación de mensajes
   quede visible y por encima del botón principal. */
#fabButton-menu {
  position: relative;
  overflow: visible !important;
}

.uInbox-badge {
  position: absolute;
  background-color: red;
  border-radius: 100%;  
  top: -10px;
  right: 0px;
  padding: 5px 8px;
}
/* ----------- #135_notif-usuarios: ----------- */

.main_loadingCont > p {
  margin: 0;
}

.loaderButton {
  margin-top: 20px;
  text-align: center;
}

.loaderButton > span {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: #E27B7B;
  font-weight: bolder;
  color: #fff;
}