bus-tracker-card {

}

.counterCont{
    height: 200px;
    background-image: url("../assets/imgs/bgCounter.png");
    background-size: cover;
    position: relative;
}

.counterCont{
    .paused .clock{
        animation-play-state: paused !important;
    }
    .paused .clock .minute-marks{
        animation-play-state: paused !important;
    }
    .clock-wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        background-color: transparent;
        overflow: hidden;
      }
      .clock-border {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 260px;
        height: 260px;
        border: none;
        -webkit-border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 50%;
        -moz-background-clip: padding;
        border-radius: 50%;
        background-clip: padding-box;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      .clock {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 250px;
        height: 250px;
        padding: 0;
        background-color: transparent;
        border: none;
        -webkit-border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 50%;
        -moz-background-clip: padding;
        border-radius: 50%;
        background-clip: padding-box;
        -webkit-background-clip: border-box;
        -moz-background-clip: border-box;
        background-clip: border-box;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      
      lesshat-selector {
        -lh-property: 0; }
      @-webkit-keyframes tick{ 0%{ -webkit-transform: rotate(0deg); } 100%{ -webkit-transform: rotate(-360deg); }}
      @-moz-keyframes tick{ 0%{ -moz-transform: rotate(0deg); } 100%{ -moz-transform: rotate(-360deg); }}
      @-o-keyframes tick{ 0%{ -o-transform: rotate(0deg); } 100%{ -o-transform: rotate(-360deg); }}
      @keyframes tick{ 0%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg); } 100%{-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);-ms-transform: rotate(-360deg);transform: rotate(-360deg); };
      }
      
      lesshat-selector {
        -lh-property: 0; }
      @-webkit-keyframes tick-second{
        0%{ -webkit-transform: rotate(0deg); }
        21%{ -webkit-transform: rotate(-4deg); }
        26%{ -webkit-transform: rotate(-8deg); }
        33%{ -webkit-transform: rotate(-4deg); }
        37%{ -webkit-transform: rotate(-6deg); }
        100%{ -webkit-transform: rotate(-6deg); }}
      @-moz-keyframes tick-second{
        0%{ -moz-transform: rotate(0deg); }
        21%{ -moz-transform: rotate(-4deg); }
        26%{ -moz-transform: rotate(-8deg); }
        33%{ -moz-transform: rotate(-4deg); }
        37%{ -moz-transform: rotate(-6deg); }
        100%{ -moz-transform: rotate(-6deg); }}
      @-o-keyframes tick-second{
        0%{ -o-transform: rotate(0deg); }
        21%{ -o-transform: rotate(-4deg); }
        26%{ -o-transform: rotate(-8deg); }
        33%{ -o-transform: rotate(-4deg); }
        37%{ -o-transform: rotate(-6deg); }
        100%{ -o-transform: rotate(-6deg); }}
      @keyframes tick-second{
        0%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg); }
        21%{-webkit-transform: rotate(-4deg);-moz-transform: rotate(-4deg);-ms-transform: rotate(-4deg);transform: rotate(-4deg); }
        26%{-webkit-transform: rotate(-8deg);-moz-transform: rotate(-8deg);-ms-transform: rotate(-8deg);transform: rotate(-8deg); }
        33%{-webkit-transform: rotate(-4deg);-moz-transform: rotate(-4deg);-ms-transform: rotate(-4deg);transform: rotate(-4deg); }
        37%{-webkit-transform: rotate(-6deg);-moz-transform: rotate(-6deg);-ms-transform: rotate(-6deg);transform: rotate(-6deg); }
        100%{-webkit-transform: rotate(-6deg);-moz-transform: rotate(-6deg);-ms-transform: rotate(-6deg);transform: rotate(-6deg); };
      }

      .minute-marks {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        height: 100%;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
      }
      .minute-marks li {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: inline-block;
        width: 200px;
        height: 200px;
      }
      .minute-marks li:before,
      .minute-marks li:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 1px;
        height: 14px;
        display: inline-block;
        background-color:#EAEAF9;
        border-color: #EAEAF9;
        border-width: 0px;
        border-style: solid;
        -webkit-border-radius: 0px;
        // -webkit-background-clip: padding-box;
        -moz-border-radius: 0px;
        // -moz-background-clip: padding;
        border-radius: 0px;
        // background-clip: padding-box;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        -webkit-animation: fade-in 0.1s ease 0s 1 forwards;
        -moz-animation: fade-in 0.1s ease 0s 1 forwards;
        -o-animation: fade-in 0.1s ease 0s 1 forwards;
        animation: fade-in 0.1s ease 0s 1 forwards;
      }
      .clock.ticktock{
        -webkit-animation: tick 3600s normal infinite steps(60, end) 0s;
        -moz-animation: tick 3600s normal infinite steps(60, end) 0s;
        -o-animation: tick 3600s normal infinite steps(60, end) 0s;
        animation: tick 3600s normal infinite steps(60, end) 0s;
      }
      .ticktock .minute-marks.tick{
        // transform-origin: center;
        // -webkit-animation: tick-second 1s normal infinite steps(30, end) 58s;
        // -moz-animation: tick-second 1s normal infinite steps(30, end) 58s;
        // -o-animation: tick-second 1s normal infinite steps(30, end) 58s;
        // animation: tick-second 1s normal infinite steps(30, end) 58s;
      }
      .minute-marks li:before lesshat-selector,
      .minute-marks li:after lesshat-selector {
        -lh-property: 0; }
      @-webkit-keyframes fade-in{ from{ -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0; opacity: 0; } to{ -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1; opacity: 1; }}
      @-moz-keyframes fade-in{ from{ -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0; opacity: 0; } to{ -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1; opacity: 1; }}
      @-o-keyframes fade-in{ from{ -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0; opacity: 0; } to{ -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1; opacity: 1; }}
      @keyframes fade-in{ from{ -webkit-opacity: 0; -moz-opacity: 0; -o-opacity: 0; opacity: 0; } to{ -webkit-opacity: 1; -moz-opacity: 1; -o-opacity: 1; opacity: 1; };
      }
      .minute-marks li:before {
        top: -230px;
      }
      .minute-marks li:after {
        bottom: -230px;
      }
      .minute-marks li.special.tickAfter:after,
      .minute-marks li.special.tickBefore:before{
        border-color: #E27B7B;
        height: 30px !important;
        width: 1px;
        background-color: #E27B7B;
      }
      .minute-marks .special.tickAfter:after{
        bottom: -215px!important;
      }
      .minute-marks .special.tickBefore:before{
        top: -215px!important;
      }

      .minute-marks li.five:before,
      .minute-marks li.five:after {
        width: 1px;
        height: 25px;
      }
      .minute-marks li.five:before {
        top: -220px;
      }
      .minute-marks li.five:after {
        bottom: -220px;
      }
      
      .minute-marks li:nth-child( 1) {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
      }
      .minute-marks li:nth-child( 30):before {
        -webkit-animation-delay: 0.017s;
        -moz-animation-delay: 0.017s;
        -o-animation-delay: 0.017s;
        animation-delay: 0.017s;
      }
      .minute-marks li:nth-child( 30):after {
        -webkit-animation-delay: 0.544s;
        -moz-animation-delay: 0.544s;
        -o-animation-delay: 0.544s;
        animation-delay: 0.544s;
      }
      .minute-marks li:nth-child( 2) {
        -webkit-transform: rotate(6deg);
        -moz-transform: rotate(6deg);
        -o-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        transform: rotate(6deg);
      }
      .minute-marks li:nth-child( 29):before {
        -webkit-animation-delay: 0.034s;
        -moz-animation-delay: 0.034s;
        -o-animation-delay: 0.034s;
        animation-delay: 0.034s;
      }
      .minute-marks li:nth-child( 29):after {
        -webkit-animation-delay: 0.561s;
        -moz-animation-delay: 0.561s;
        -o-animation-delay: 0.561s;
        animation-delay: 0.561s;
      }
      .minute-marks li:nth-child( 3) {
        -webkit-transform: rotate(12deg);
        -moz-transform: rotate(12deg);
        -o-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg);
      }
      .minute-marks li:nth-child( 28):before {
        -webkit-animation-delay: 0.051000000000000004s;
        -moz-animation-delay: 0.051000000000000004s;
        -o-animation-delay: 0.051000000000000004s;
        animation-delay: 0.051000000000000004s;
      }
      .minute-marks li:nth-child( 28):after {
        -webkit-animation-delay: 0.5780000000000001s;
        -moz-animation-delay: 0.5780000000000001s;
        -o-animation-delay: 0.5780000000000001s;
        animation-delay: 0.5780000000000001s;
      }
      .minute-marks li:nth-child( 4) {
        -webkit-transform: rotate(18deg);
        -moz-transform: rotate(18deg);
        -o-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg);
      }
      .minute-marks li:nth-child( 27):before {
        -webkit-animation-delay: 0.068s;
        -moz-animation-delay: 0.068s;
        -o-animation-delay: 0.068s;
        animation-delay: 0.068s;
      }
      .minute-marks li:nth-child( 27):after {
        -webkit-animation-delay: 0.595s;
        -moz-animation-delay: 0.595s;
        -o-animation-delay: 0.595s;
        animation-delay: 0.595s;
      }
      .minute-marks li:nth-child( 5) {
        -webkit-transform: rotate(24deg);
        -moz-transform: rotate(24deg);
        -o-transform: rotate(24deg);
        -ms-transform: rotate(24deg);
        transform: rotate(24deg);
      }
      .minute-marks li:nth-child( 26):before {
        -webkit-animation-delay: 0.085s;
        -moz-animation-delay: 0.085s;
        -o-animation-delay: 0.085s;
        animation-delay: 0.085s;
      }
      .minute-marks li:nth-child( 26):after {
        -webkit-animation-delay: 0.612s;
        -moz-animation-delay: 0.612s;
        -o-animation-delay: 0.612s;
        animation-delay: 0.612s;
      }
      .minute-marks li:nth-child( 6) {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
      }
      .minute-marks li:nth-child( 25):before {
        -webkit-animation-delay: 0.10200000000000001s;
        -moz-animation-delay: 0.10200000000000001s;
        -o-animation-delay: 0.10200000000000001s;
        animation-delay: 0.10200000000000001s;
      }
      .minute-marks li:nth-child( 25):after {
        -webkit-animation-delay: 0.629s;
        -moz-animation-delay: 0.629s;
        -o-animation-delay: 0.629s;
        animation-delay: 0.629s;
      }
      .minute-marks li:nth-child( 7) {
        -webkit-transform: rotate(36deg);
        -moz-transform: rotate(36deg);
        -o-transform: rotate(36deg);
        -ms-transform: rotate(36deg);
        transform: rotate(36deg);
      }
      .minute-marks li:nth-child( 24):before {
        -webkit-animation-delay: 0.11900000000000001s;
        -moz-animation-delay: 0.11900000000000001s;
        -o-animation-delay: 0.11900000000000001s;
        animation-delay: 0.11900000000000001s;
      }
      .minute-marks li:nth-child( 24):after {
        -webkit-animation-delay: 0.646s;
        -moz-animation-delay: 0.646s;
        -o-animation-delay: 0.646s;
        animation-delay: 0.646s;
      }
      .minute-marks li:nth-child( 8) {
        -webkit-transform: rotate(42deg);
        -moz-transform: rotate(42deg);
        -o-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
        transform: rotate(42deg);
      }
      .minute-marks li:nth-child( 23):before {
        -webkit-animation-delay: 0.136s;
        -moz-animation-delay: 0.136s;
        -o-animation-delay: 0.136s;
        animation-delay: 0.136s;
      }
      .minute-marks li:nth-child( 23):after {
        -webkit-animation-delay: 0.663s;
        -moz-animation-delay: 0.663s;
        -o-animation-delay: 0.663s;
        animation-delay: 0.663s;
      }
      .minute-marks li:nth-child( 9) {
        -webkit-transform: rotate(48deg);
        -moz-transform: rotate(48deg);
        -o-transform: rotate(48deg);
        -ms-transform: rotate(48deg);
        transform: rotate(48deg);
      }
      .minute-marks li:nth-child( 22):before {
        -webkit-animation-delay: 0.15300000000000002s;
        -moz-animation-delay: 0.15300000000000002s;
        -o-animation-delay: 0.15300000000000002s;
        animation-delay: 0.15300000000000002s;
      }
      .minute-marks li:nth-child( 22):after {
        -webkit-animation-delay: 0.68s;
        -moz-animation-delay: 0.68s;
        -o-animation-delay: 0.68s;
        animation-delay: 0.68s;
      }
      .minute-marks li:nth-child( 10) {
        -webkit-transform: rotate(54deg);
        -moz-transform: rotate(54deg);
        -o-transform: rotate(54deg);
        -ms-transform: rotate(54deg);
        transform: rotate(54deg);
      }
      .minute-marks li:nth-child( 21):before {
        -webkit-animation-delay: 0.17s;
        -moz-animation-delay: 0.17s;
        -o-animation-delay: 0.17s;
        animation-delay: 0.17s;
      }
      .minute-marks li:nth-child( 21):after {
        -webkit-animation-delay: 0.6970000000000001s;
        -moz-animation-delay: 0.6970000000000001s;
        -o-animation-delay: 0.6970000000000001s;
        animation-delay: 0.6970000000000001s;
      }
      .minute-marks li:nth-child( 11) {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
      }
      .minute-marks li:nth-child( 20):before {
        -webkit-animation-delay: 0.187s;
        -moz-animation-delay: 0.187s;
        -o-animation-delay: 0.187s;
        animation-delay: 0.187s;
      }
      .minute-marks li:nth-child( 20):after {
        -webkit-animation-delay: 0.714s;
        -moz-animation-delay: 0.714s;
        -o-animation-delay: 0.714s;
        animation-delay: 0.714s;
      }
      .minute-marks li:nth-child( 12) {
        -webkit-transform: rotate(66deg);
        -moz-transform: rotate(66deg);
        -o-transform: rotate(66deg);
        -ms-transform: rotate(66deg);
        transform: rotate(66deg);
      }
      .minute-marks li:nth-child( 19):before {
        -webkit-animation-delay: 0.20400000000000001s;
        -moz-animation-delay: 0.20400000000000001s;
        -o-animation-delay: 0.20400000000000001s;
        animation-delay: 0.20400000000000001s;
      }
      .minute-marks li:nth-child( 19):after {
        -webkit-animation-delay: 0.7310000000000001s;
        -moz-animation-delay: 0.7310000000000001s;
        -o-animation-delay: 0.7310000000000001s;
        animation-delay: 0.7310000000000001s;
      }
      .minute-marks li:nth-child( 13) {
        -webkit-transform: rotate(72deg);
        -moz-transform: rotate(72deg);
        -o-transform: rotate(72deg);
        -ms-transform: rotate(72deg);
        transform: rotate(72deg);
      }
      .minute-marks li:nth-child( 18):before {
        -webkit-animation-delay: 0.22100000000000003s;
        -moz-animation-delay: 0.22100000000000003s;
        -o-animation-delay: 0.22100000000000003s;
        animation-delay: 0.22100000000000003s;
      }
      .minute-marks li:nth-child( 18):after {
        -webkit-animation-delay: 0.748s;
        -moz-animation-delay: 0.748s;
        -o-animation-delay: 0.748s;
        animation-delay: 0.748s;
      }
      .minute-marks li:nth-child( 14) {
        -webkit-transform: rotate(78deg);
        -moz-transform: rotate(78deg);
        -o-transform: rotate(78deg);
        -ms-transform: rotate(78deg);
        transform: rotate(78deg);
      }
      .minute-marks li:nth-child( 17):before {
        -webkit-animation-delay: 0.23800000000000002s;
        -moz-animation-delay: 0.23800000000000002s;
        -o-animation-delay: 0.23800000000000002s;
        animation-delay: 0.23800000000000002s;
      }
      .minute-marks li:nth-child( 17):after {
        -webkit-animation-delay: 0.765s;
        -moz-animation-delay: 0.765s;
        -o-animation-delay: 0.765s;
        animation-delay: 0.765s;
      }
      .minute-marks li:nth-child( 15) {
        -webkit-transform: rotate(84deg);
        -moz-transform: rotate(84deg);
        -o-transform: rotate(84deg);
        -ms-transform: rotate(84deg);
        transform: rotate(84deg);
      }
      .minute-marks li:nth-child( 16):before {
        -webkit-animation-delay: 0.255s;
        -moz-animation-delay: 0.255s;
        -o-animation-delay: 0.255s;
        animation-delay: 0.255s;
      }
      .minute-marks li:nth-child( 16):after {
        -webkit-animation-delay: 0.782s;
        -moz-animation-delay: 0.782s;
        -o-animation-delay: 0.782s;
        animation-delay: 0.782s;
      }
      .minute-marks li:nth-child( 16) {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      .minute-marks li:nth-child( 15):before {
        -webkit-animation-delay: 0.272s;
        -moz-animation-delay: 0.272s;
        -o-animation-delay: 0.272s;
        animation-delay: 0.272s;
      }
      .minute-marks li:nth-child( 15):after {
        -webkit-animation-delay: 0.799s;
        -moz-animation-delay: 0.799s;
        -o-animation-delay: 0.799s;
        animation-delay: 0.799s;
      }
      .minute-marks li:nth-child( 17) {
        -webkit-transform: rotate(96deg);
        -moz-transform: rotate(96deg);
        -o-transform: rotate(96deg);
        -ms-transform: rotate(96deg);
        transform: rotate(96deg);
      }
      .minute-marks li:nth-child( 14):before {
        -webkit-animation-delay: 0.28900000000000003s;
        -moz-animation-delay: 0.28900000000000003s;
        -o-animation-delay: 0.28900000000000003s;
        animation-delay: 0.28900000000000003s;
      }
      .minute-marks li:nth-child( 14):after {
        -webkit-animation-delay: 0.8160000000000001s;
        -moz-animation-delay: 0.8160000000000001s;
        -o-animation-delay: 0.8160000000000001s;
        animation-delay: 0.8160000000000001s;
      }
      .minute-marks li:nth-child( 18) {
        -webkit-transform: rotate(102deg);
        -moz-transform: rotate(102deg);
        -o-transform: rotate(102deg);
        -ms-transform: rotate(102deg);
        transform: rotate(102deg);
      }
      .minute-marks li:nth-child( 13):before {
        -webkit-animation-delay: 0.30600000000000005s;
        -moz-animation-delay: 0.30600000000000005s;
        -o-animation-delay: 0.30600000000000005s;
        animation-delay: 0.30600000000000005s;
      }
      .minute-marks li:nth-child( 13):after {
        -webkit-animation-delay: 0.8330000000000001s;
        -moz-animation-delay: 0.8330000000000001s;
        -o-animation-delay: 0.8330000000000001s;
        animation-delay: 0.8330000000000001s;
      }
      .minute-marks li:nth-child( 19) {
        -webkit-transform: rotate(108deg);
        -moz-transform: rotate(108deg);
        -o-transform: rotate(108deg);
        -ms-transform: rotate(108deg);
        transform: rotate(108deg);
      }
      .minute-marks li:nth-child( 12):before {
        -webkit-animation-delay: 0.323s;
        -moz-animation-delay: 0.323s;
        -o-animation-delay: 0.323s;
        animation-delay: 0.323s;
      }
      .minute-marks li:nth-child( 12):after {
        -webkit-animation-delay: 0.8500000000000001s;
        -moz-animation-delay: 0.8500000000000001s;
        -o-animation-delay: 0.8500000000000001s;
        animation-delay: 0.8500000000000001s;
      }
      .minute-marks li:nth-child( 20) {
        -webkit-transform: rotate(114deg);
        -moz-transform: rotate(114deg);
        -o-transform: rotate(114deg);
        -ms-transform: rotate(114deg);
        transform: rotate(114deg);
      }
      .minute-marks li:nth-child( 11):before {
        -webkit-animation-delay: 0.34s;
        -moz-animation-delay: 0.34s;
        -o-animation-delay: 0.34s;
        animation-delay: 0.34s;
      }
      .minute-marks li:nth-child( 11):after {
        -webkit-animation-delay: 0.867s;
        -moz-animation-delay: 0.867s;
        -o-animation-delay: 0.867s;
        animation-delay: 0.867s;
      }
      .minute-marks li:nth-child( 21) {
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        transform: rotate(120deg);
      }
      .minute-marks li:nth-child( 10):before {
        -webkit-animation-delay: 0.35700000000000004s;
        -moz-animation-delay: 0.35700000000000004s;
        -o-animation-delay: 0.35700000000000004s;
        animation-delay: 0.35700000000000004s;
      }
      .minute-marks li:nth-child( 10):after {
        -webkit-animation-delay: 0.8840000000000001s;
        -moz-animation-delay: 0.8840000000000001s;
        -o-animation-delay: 0.8840000000000001s;
        animation-delay: 0.8840000000000001s;
      }
      .minute-marks li:nth-child( 22) {
        -webkit-transform: rotate(126deg);
        -moz-transform: rotate(126deg);
        -o-transform: rotate(126deg);
        -ms-transform: rotate(126deg);
        transform: rotate(126deg);
      }
      .minute-marks li:nth-child( 9):before {
        -webkit-animation-delay: 0.374s;
        -moz-animation-delay: 0.374s;
        -o-animation-delay: 0.374s;
        animation-delay: 0.374s;
      }
      .minute-marks li:nth-child( 9):after {
        -webkit-animation-delay: 0.901s;
        -moz-animation-delay: 0.901s;
        -o-animation-delay: 0.901s;
        animation-delay: 0.901s;
      }
      .minute-marks li:nth-child( 23) {
        -webkit-transform: rotate(132deg);
      
        -moz-transform: rotate(132deg);
        -o-transform: rotate(132deg);
        -ms-transform: rotate(132deg);
        transform: rotate(132deg);
      }
      .minute-marks li:nth-child( 8):before {
        -webkit-animation-delay: 0.391s;
        -moz-animation-delay: 0.391s;
        -o-animation-delay: 0.391s;
        animation-delay: 0.391s;
      }
      .minute-marks li:nth-child( 8):after {
        -webkit-animation-delay: 0.918s;
        -moz-animation-delay: 0.918s;
        -o-animation-delay: 0.918s;
        animation-delay: 0.918s;
      }
      .minute-marks li:nth-child( 24) {
        -webkit-transform: rotate(138deg);
        -moz-transform: rotate(138deg);
        -o-transform: rotate(138deg);
        -ms-transform: rotate(138deg);
        transform: rotate(138deg);
      }
      .minute-marks li:nth-child( 7):before {
        -webkit-animation-delay: 0.40800000000000003s;
        -moz-animation-delay: 0.40800000000000003s;
        -o-animation-delay: 0.40800000000000003s;
        animation-delay: 0.40800000000000003s;
      }
      .minute-marks li:nth-child( 7):after {
        -webkit-animation-delay: 0.935s;
        -moz-animation-delay: 0.935s;
        -o-animation-delay: 0.935s;
        animation-delay: 0.935s;
      }
      .minute-marks li:nth-child( 25) {
        -webkit-transform: rotate(144deg);
        -moz-transform: rotate(144deg);
        -o-transform: rotate(144deg);
        -ms-transform: rotate(144deg);
        transform: rotate(144deg);
      }
      .minute-marks li:nth-child( 6):before {
        -webkit-animation-delay: 0.42500000000000004s;
        -moz-animation-delay: 0.42500000000000004s;
        -o-animation-delay: 0.42500000000000004s;
        animation-delay: 0.42500000000000004s;
      }
      .minute-marks li:nth-child( 6):after {
        -webkit-animation-delay: 0.9520000000000001s;
        -moz-animation-delay: 0.9520000000000001s;
        -o-animation-delay: 0.9520000000000001s;
        animation-delay: 0.9520000000000001s;
      }
      .minute-marks li:nth-child( 26) {
        -webkit-transform: rotate(150deg);
        -moz-transform: rotate(150deg);
        -o-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
        transform: rotate(150deg);
      }
      .minute-marks li:nth-child( 5):before {
        -webkit-animation-delay: 0.44200000000000006s;
        -moz-animation-delay: 0.44200000000000006s;
        -o-animation-delay: 0.44200000000000006s;
        animation-delay: 0.44200000000000006s;
      }
      .minute-marks li:nth-child( 5):after {
        -webkit-animation-delay: 0.9690000000000001s;
        -moz-animation-delay: 0.9690000000000001s;
        -o-animation-delay: 0.9690000000000001s;
        animation-delay: 0.9690000000000001s;
      }
      .minute-marks li:nth-child( 27) {
        -webkit-transform: rotate(156deg);
        -moz-transform: rotate(156deg);
        -o-transform: rotate(156deg);
        -ms-transform: rotate(156deg);
        transform: rotate(156deg);
      }
      .minute-marks li:nth-child( 4):before {
        -webkit-animation-delay: 0.459s;
        -moz-animation-delay: 0.459s;
        -o-animation-delay: 0.459s;
        animation-delay: 0.459s;
      }
      .minute-marks li:nth-child( 4):after {
        -webkit-animation-delay: 0.986s;
        -moz-animation-delay: 0.986s;
        -o-animation-delay: 0.986s;
        animation-delay: 0.986s;
      }
      .minute-marks li:nth-child( 28) {
        -webkit-transform: rotate(162deg);
        -moz-transform: rotate(162deg);
        -o-transform: rotate(162deg);
        -ms-transform: rotate(162deg);
        transform: rotate(162deg);
      }
      .minute-marks li:nth-child( 3):before {
        -webkit-animation-delay: 0.47600000000000003s;
        -moz-animation-delay: 0.47600000000000003s;
        -o-animation-delay: 0.47600000000000003s;
        animation-delay: 0.47600000000000003s;
      }
      .minute-marks li:nth-child( 3):after {
        -webkit-animation-delay: 1.0030000000000001s;
        -moz-animation-delay: 1.0030000000000001s;
        -o-animation-delay: 1.0030000000000001s;
        animation-delay: 1.0030000000000001s;
      }
      .minute-marks li:nth-child( 29) {
        -webkit-transform: rotate(168deg);
        -moz-transform: rotate(168deg);
        -o-transform: rotate(168deg);
        -ms-transform: rotate(168deg);
        transform: rotate(168deg);
      }
      .minute-marks li:nth-child( 2):before {
        -webkit-animation-delay: 0.49300000000000005s;
        -moz-animation-delay: 0.49300000000000005s;
        -o-animation-delay: 0.49300000000000005s;
        animation-delay: 0.49300000000000005s;
      }
      .minute-marks li:nth-child( 2):after {
        -webkit-animation-delay: 1.02s;
        -moz-animation-delay: 1.02s;
        -o-animation-delay: 1.02s;
        animation-delay: 1.02s;
      }
      .minute-marks li:nth-child( 30) {
        -webkit-transform: rotate(174deg);
        -moz-transform: rotate(174deg);
        -o-transform: rotate(174deg);
        -ms-transform: rotate(174deg);
        transform: rotate(174deg);
      }
      .minute-marks li:nth-child( 1):before {
        -webkit-animation-delay: 0.51s;
        -moz-animation-delay: 0.51s;
        -o-animation-delay: 0.51s;
        animation-delay: 0.51s;
      }
      .minute-marks li:nth-child( 1):after {
        -webkit-animation-delay: 1.037s;
        -moz-animation-delay: 1.037s;
        -o-animation-delay: 1.037s;
        animation-delay: 1.037s;
      }
      .stopDot{
        height: 15px;
        width: 15px;
        bottom: 79px;
        left: 50px;
        position: absolute;
        border-radius: 50%;
        transform-origin: top right;
        background: rgba(91,42,160,1);
        background: -moz-linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(91,42,160,1)), color-stop(64%, rgba(218,56,106,1)), color-stop(100%, rgba(218,56,106,1)));
        background: -webkit-linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
        background: -o-linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
        background: linear-gradient(45deg, rgba(91,42,160,1) 0%, rgba(218,56,106,1) 64%, rgba(218,56,106,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b2aa0', endColorstr='#da386a', GradientType=1 );
        opacity:0;
        -webkit-animation: fade-in 0.2s ease 0s 1 forwards;
        -moz-animation: fade-in 0.2s ease 0s 1 forwards;
        -o-animation: fade-in 0.2s ease 0s 1 forwards;
        animation: fade-in 0.2s ease 0s 1 forwards;
        -webkit-animation-delay: 0.867s;
        -moz-animation-delay: 0.867s;
        -o-animation-delay: 0.867s;
        animation-delay: 0.867s;      
    }
}
@-webkit-keyframes tick-dot{
    0%{ -webkit-transform: rotate(0deg); }
    21%{ -webkit-transform: rotate(-8deg); }
    26%{ -webkit-transform: rotate(-16deg); }
    33%{ -webkit-transform: rotate(-8deg); }
    37%{ -webkit-transform: rotate(-12deg); }
    100%{ -webkit-transform: rotate(-12deg); }}
@-moz-keyframes tick-dot{
    0%{ -moz-transform: rotate(0deg); }
    21%{ -moz-transform: rotate(-8deg); }
    26%{ -moz-transform: rotate(-16deg); }
    33%{ -moz-transform: rotate(-8deg); }
    37%{ -moz-transform: rotate(-12deg); }
    100%{ -moz-transform: rotate(-12deg); }}
@-o-keyframes tick-dot{
    0%{ -o-transform: rotate(0deg); }
    21%{ -o-transform: rotate(-8deg); }
    26%{ -o-transform: rotate(-16deg); }
    33%{ -o-transform: rotate(-8deg); }
    37%{ -o-transform: rotate(-12deg); }
    100%{ -o-transform: rotate(-12deg); }}
@keyframes tick-dot{
    0%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg); }
    21%{-webkit-transform: rotate(-8deg);-moz-transform: rotate(-8deg);-ms-transform: rotate(-8deg);transform: rotate(-8deg); }
    26%{-webkit-transform: rotate(-16deg);-moz-transform: rotate(-16deg);-ms-transform: rotate(-16deg);transform: rotate(-16deg); }
    33%{-webkit-transform: rotate(-8deg);-moz-transform: rotate(-8deg);-ms-transform: rotate(-8deg);transform: rotate(-8deg); }
    37%{-webkit-transform: rotate(-12deg);-moz-transform: rotate(-12deg);-ms-transform: rotate(-12deg);transform: rotate(-12deg); }
    100%{-webkit-transform: rotate(-12deg);-moz-transform: rotate(-12deg);-ms-transform: rotate(-12deg);transform: rotate(-12deg); };
}

.busInfoCont{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}
.busInfoCont svg{
    height: 100%;
}

.busInfoCont .busIcon{
    height: 50px;
    width: 100%;
}
.busInfoCont .busName{
    color: #EAEAF9;
    font-size: 2.75em;
    font-weight: 700;
    margin: 0;
}

.clock-wrapper .timeLeft {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.clock-wrapper .timeLeft .time{
    color: #EAEAF9;
    font-size: 4em;
    font-weight: 800;
    margin: 0;
    width: 100%;
    text-align: right;
}
.clock-wrapper .timeLeft .time .timeUnit{
    font-size: 0.2em;
    text-transform: uppercase;
}
.btnFav{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    font-size: 1.25em;
}
.trackDivider{
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  height: 5px;
  background: rgba(120,107,198,1);
  background: -moz-linear-gradient(-45deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(120,107,198,1)), color-stop(37%, rgba(90,130,189,1)), color-stop(87%, rgba(0,178,173,1)), color-stop(100%, rgba(56,168,211,1)));
  background: -webkit-linear-gradient(-45deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  background: linear-gradient(135deg, rgba(120,107,198,1) 0%, rgba(90,130,189,1) 37%, rgba(0,178,173,1) 87%, rgba(56,168,211,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#786bc6', endColorstr='#38a8d3', GradientType=1 );
  width: 100%;
}
