<!-- <div class="trackDivider"></div>
    <div class="counterCont" *ngIf="tRestante>0">
        <div class="busInfoCont">
            <div>
                <h2 class="busName">{{parada.linea.nombre}}</h2>
                <div class="busIcon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 438.4 214.6" style="enable-background:new 0 0 438.4 214.6;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;stroke:#EAEAF9;stroke-width:5;stroke-miterlimit:10;}
                    </style>
                    <path class="st0" d="M407.8,32.7l3.1-0.4l-2.4-9.3c-1.5-5.1-2.7-10.4-3.3-11.7l-0.7-2.4L302.1,9.3c-56.3,0.2-145.2,0.5-197.5,0.9
                        L9.6,10.7L9.3,21.2c-0.4,4.6-0.2,9.1-0.4,13.5l197.7-0.9C315.4,33.4,406,32.9,407.8,32.7z M352.4,70.9V38.7l-66,0.2l0.2,64.4l66-0.2
                        L352.4,70.9z M283.4,71.1V38.9l-66,0.2l0.2,64.4l66-0.2L283.4,71.1z M212.8,71.3V39.1L183,39.5c-24.1,0.2-30.2,0.4-32,1.1l-2.2,0.7
                        v29.8v29.8l1.8,0.9c2,1.1,16.1,1.6,46.8,1.6h15.7L212.8,71.3z M144.1,71.5V39.3l-66,0.2l0.2,64.4l66-0.2L144.1,71.5z M74.6,71.6
                        V39.5L9.1,39.6L9.3,104l65.5-0.2L74.6,71.6z M430.8,118.8c0-15-0.5-20.9-2.4-28.5c-1.5-5.9-14.6-50.1-15.2-50.7
                        c-0.2-0.2-13-0.5-28.5-0.7l-28.2-0.4l0.2,67.3l14.8,13.5l14.8,13.5l44.4-0.2L430.8,118.8z M180.3,146.8c-13.7-0.2-19.4-0.5-19.9-0.9
                        c-1.1-1.1-0.4-1.3,4.4-1.8c5.9-0.7,107.9-1.5,113.6-0.9c4,0.4,4.6,0.5,4.6,1.6c0.2,1.1-0.2,1.3-2.6,1.5
                        C276.3,146.6,201.5,147.2,180.3,146.8z M74.4,179.4c0.2-6.4,0.5-10.1,1.3-12.3c4.4-13.9,15.5-22.5,31.1-23.4
                        c15.4-0.9,27.8,6.9,32.7,21c2.9,8.4,3.7,15.9,1.8,22.5c-0.2,0.9,4,0.9,83.8,0.7l84-0.2l0.2-9.7c0.2-7.9,0.4-10.2,1.5-13.4
                        c4.6-14.1,18.3-22.7,34.4-21.6c12.3,0.7,22.1,6.9,27.3,17c2.6,5.1,3.5,9,3.8,18.7l0.4,8.8l54.7-0.2v-7.7c0-9.3-0.5-11.3-3.3-12.3
                        c-1.1-0.4-2.9-0.7-4-0.7c-2.9,0-4.9-0.9-4.9-2.2s1.1-1.8,5.9-2.4c2.2-0.2,4.2-0.7,4.8-1.3c1.5-1.5,1.8-4.8,1.8-14.6v-9.3h-23h-23
                        l-30.9-29.4l-172.3,0.4L9.8,108.2l0.2,34l4,0.4c5.3,0.4,9.1,1.8,2.4,2.9c-5.7,0.9-6,1.6-6,8.8c0,7.1,0.5,7.9,6,8.8
                        c3.7,0.5,3.7,0.7,3.7,2.2c0,1.5-0.2,1.6-2,1.8c-7.7,1.3-8,1.8-7.9,12.8v8.2l64.7-0.2L74.4,179.4z M347.6,186
                        c5.1-2.6,7-10.6,3.5-15.4c-2.2-3.1-5.3-4.8-9-4.8c-3.3,0-5.3,0.9-7.5,3.1c-1.8,2-3.8,5.7-3.8,7.3c0,3.3,3.8,8.2,7.5,9.9
                        C340.9,187.4,345.1,187.4,347.6,186z M337.2,190.2c-6.6-2.2-9.3-6.2-9.5-13.5c0-3.3,0.2-4.8,1.3-6.9c5.1-10.2,20.9-10.4,26.2-0.2
                        c2,3.8,2.2,10.1,0.4,13.5C352,189.6,344.5,192.5,337.2,190.2z M351.6,204.6c16.8-5.7,25.4-25.2,17.7-40.4c-4-8-11.9-14.4-20.5-16.6
                        c-6.2-1.6-15-0.5-20.7,2.6c-10.4,5.7-17.6,19.2-15.9,30c0.7,4.8,4.8,12.8,8.4,16.8c4,4.6,10.6,7.9,17.2,9
                        C341,206.4,348.5,205.7,351.6,204.6z M112.8,186.7c3.1-1.5,4.9-3.8,5.9-7.3c0.5-2.4,0.5-3.3-0.2-5.3c-0.9-2.6-4.4-6-6.8-6.9
                        c-2-0.7-6.2-0.5-8,0.4c-3.5,1.8-6.2,6.4-6.2,10.2c0,0.7,0.4,2.2,0.9,3.3C100.5,186.7,107.1,189.3,112.8,186.7z M104.4,191.1
                        c-3.5-0.7-6.6-2.6-8.2-5.1c-2.4-3.3-2.9-5.7-2.7-10.1c0.2-3.3,0.5-4.4,2.4-6.9c2.4-3.7,5.5-5.7,9.9-6.6c3.8-0.9,6.2-0.2,10.6,2.7
                        c4.2,3.1,6.2,6.6,6.2,11.7C122.5,186.9,114.2,193.5,104.4,191.1z M117.5,205.2c9.9-3.5,17.4-11.9,19.4-21.9
                        c0.9-4.4,0.4-11.9-1.1-16.1c-3.5-9.5-11.5-16.8-21-19c-15.4-3.7-31.1,5.7-35.3,20.5c-2.9,10.2-0.9,19.2,5.7,26.9
                        c2.9,3.5,7.1,6.9,10.1,8.4C100.9,207,111.3,207.5,117.5,205.2z M101.6,210.1c-7.1-1.1-11.5-3.8-19.6-11.7l-6.6-6.6H41.1
                        c-18.8,0-34.6-0.4-34.9-0.5c-0.9-0.9-1.3-15.5-1.8-95.7L3.6,13.3l4.2-4.2L12,4.9l197.2-0.5C389.5,3.8,406.3,4,406.7,4.7
                        c1.8,4.6,11.7,36.4,24.3,78.1l3.1,10.4l0.2,48.5c0.2,38.4,0,48.5-0.5,48.7c-0.4,0-13.5,0-29.1,0h-28.3l-5.7,5.9
                        c-6.8,6.9-10.2,9.5-16.8,11.7c-4,1.5-5.7,1.6-10.6,1.8c-11.2,0.2-19.6-3.8-29.4-14.1l-3.8-4l-83.8-0.2l-83.8-0.2l-5.7,5.1
                        c-7.7,7.1-11.2,9.7-15.2,11.7C116.1,210.5,108.6,211.4,101.6,210.1z"/>
                    </svg>
                </div>
            </div>
            <div class="favIcon">
                <button class="btnFav" (click)="marcarFavorito()">
                    <ion-icon *ngIf="!favorito" name="cl-star-outline" color="light"></ion-icon>
                    <ion-icon *ngIf="favorito"  name="cl-star" color="light"></ion-icon>
                </button>
            </div>
        </div>
        <div class="clock-wrapper">
            <div class="timeLeft">
                <p class="time">{{tRestante}}<span class="timeUnit">min</span></p>
            </div>
            <div class="clock-border" [ngClass]="{'paused': tRestante==0 || !initClock}">
                <div class="stopDot"></div>
                <div class="clock" [ngClass]="{'ticktock': initClock}">
                    <ul class="minute-marks" [ngClass]="{'tick': tick}">
                        <li *ngFor="let n of arrayClock(30); let i = index;" [ngClass]="{'five': i%5==0, 'special': i==tickPosition, 'tickAfter': (tiempo>=0&&tiempo<20)||(tiempo>=50&&tiempo<=59), 'tickBefore':(tiempo>=20&&tiempo<=49)}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="counterCont" *ngIf="tRestante==0">
        <div class="busInfoCont">
            <div>
                <h2 class="busName">¡El colectivo está llegando a tu parada, que disfrutes el viaje!</h2>
            </div>
        </div>
    </div> -->
