page-user-inbox {
    /* Corresponde al contenedor de la lista de mensajes */
    .userInboxCont {
        padding: 10px;
        background-color: #f5f5f5;
        border: 1px solid #c4c4c4;
        border-right: none;
        border-left: none;
        height: 55%;
        overflow-y: auto !important;
    }

    .userInboxCont > h2 {
        margin: 10px 0;
    }

    /* Corresponde a cada uno de los elementos de la lista. */
    ion-item {
        /* Removemos el bg default de ionic para cada uno de los items */
        background-color: transparent !important;
    }

    /* Corresponde al contenedor general de mensajes de usuario (UserInbox-Details-Container) */
    .ui-d-cont {
        padding: 10px;
        background-color: #f5f5f5;
    }

    /* Corresponde al título de los mensajes */
    .ui-d-cont > h1 {
        margin: 0 0 10px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
    }

    /* Corresponde al contenedor con los botones de reacción (Me gusta / No me gusta / Eliminar)*/
    .ui-d-cont .reactButtons {
        border: 1px solid #000;
        padding: 0;
    }
}