<ion-header>
    <ion-navbar>
        <ion-title>Volver a mensajes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="appInfo" padding-top >
    <!-- LOGO DE LA MUNI -->
    <div class="fondo"></div>
    <div class="logoMuni"><img src="./assets/imgs/muni.png"/></div>

    <div class="appLogoInfo">
      <img src="./assets/imgs/logo-trans.png"/>
    </div>

    <div class="ui-d-cont">
        <h1>{{ curMsg.title }}</h1>
        <div [innerHTML]="curMsg.msgTxt"></div>
        <ion-row>
            <ion-col>
                <button ion-button clear icon-only item-end small (click)="setMessageReaction(300, curMsg.id);"><ion-icon name="thumbs-up"></ion-icon>
                    <div>Me gusta</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button clear icon-only item-end small (click)="setMessageReaction(400, curMsg.id);"><ion-icon name="thumbs-down"></ion-icon>
                    <div>No me gusta</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button clear icon-only item-end small (click)="setMessageReaction(500, curMsg.id);"><ion-icon name="trash"></ion-icon>
                    <div>Eliminar</div>
                </button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>