<ion-content class="appInfo" padding-top>
    <!-- LOGO DE LA MUNI -->
    <div class="fondo"></div>
    <div class="logoMuni"><img src="./assets/imgs/muni.png"/></div>

    <div class="appLogoInfo">
      <img src="./assets/imgs/logo-trans.png"/>
    </div>

    <div class="userInboxCont">
      <h2>Lista de mensajes</h2>

      <p *ngIf="userMsgList.length <= 0">
        <ion-icon item-start name="information-circle"></ion-icon>
        No hay ningún mensaje en su bandeja de entrada.
      </p>

      <ion-list>
        <ion-item text-wrap no-padding *ngFor="let msg of userMsgList" (click)="openUserMsgDetail(msg)">
          <ion-icon item-start [name]="(!msg.unread) ? 'mail-open' : 'mail'"></ion-icon>
          {{ msg.title }}
        </ion-item>
      </ion-list>

    </div>
 
    <ion-fab bottom left>
      <button ion-fab color="light" class="rounded" (click)="volverHome()"><ion-icon name="cl-home"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom right>
        <button ion-fab menuToggle color="light" class="rounded"><ion-icon name="cl-menu"></ion-icon></button>
    </ion-fab>
</ion-content>