page-app-info {

}

.appInfo{
    // background: rgba(56,167,211,1);
    // background: -moz-linear-gradient(-62deg, rgba(56,167,211,1) 0%, rgba(0,178,172,1) 12%, rgba(90,129,189,1) 63%, rgba(120,107,198,1) 100%);
    // background: -webkit-gradient(-62deg, color-stop(0%, rgba(56,167,211,1)), color-stop(12%, rgba(0,178,172,1)), color-stop(63%, rgba(90,129,189,1)), color-stop(100%, rgba(120,107,198,1)));
    // background: -webkit-linear-gradient(-62deg, rgba(56,167,211,1) 0%, rgba(0,178,172,1) 12%, rgba(90,129,189,1) 63%, rgba(120,107,198,1) 100%);
    // background: -o-linear-gradient(-62deg, rgba(56,167,211,1) 0%, rgba(0,178,172,1) 12%, rgba(90,129,189,1) 63%, rgba(120,107,198,1) 100%);
    // background: -ms-linear-gradient(-62deg, rgba(56,167,211,1) 0%, rgba(0,178,172,1) 12%, rgba(90,129,189,1) 63%, rgba(120,107,198,1) 100%);
    // background: linear-gradient(118deg, rgba(56,167,211,1) 0%, rgba(0,178,172,1) 12%, rgba(90,129,189,1) 63%, rgba(120,107,198,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a7d3', endColorstr='#786bc6', GradientType=1 );

    background: rgba(255,56,156,1);
    background: -moz-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,1)), color-stop(38%, rgba(255,112,179,1)), color-stop(100%, rgba(255,226,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: linear-gradient(135deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
}
.logoMuni{
    margin-top: 0%;
    margin-left: 15%;
    min-width: 100px;
    width: 60%;
}
.appVersion{
    background: rgba(255,56,156,1);
    background: -moz-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,1)), color-stop(38%, rgba(255,112,179,1)), color-stop(100%, rgba(255,226,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: linear-gradient(135deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
    color: #FFF;
    font-size: 1.25em;
    display: inline-block;
    text-align: left;
    padding: 15px 10px;
    width: 100%;

}
.appVersion .nroVersion{
    font-weight: bold;
    float: right;
}

.appLogoInfo{
    padding: 2px 0px;
    width: 100%;
    background-color: #FFF;
    margin: 20px 0px;
    text-align: center;
}
.appLogoInfo img{
    max-width: 100px;
    margin: 0 auto;
}
.textoMuni{
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
}

.btnInfo{

    background: rgba(255,56,156,1);
    background: -moz-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,1)), color-stop(38%, rgba(255,112,179,1)), color-stop(100%, rgba(255,226,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: linear-gradient(135deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
    color: #FFF;
    font-size: 1.25em;
    display: inline-block;
    text-align: center;
    padding: 15px 10px;
    width: 100%;
    margin-top: 15px;
    border-radius: 25px;
}

.ios, .md {
    page-home {
        button {
            align-items: baseline;
        }
    }
}


.a ion-label
{
    white-space: normal!important;
}

.d {
    margin-top: 8px!important;
}

.fondo{
    bottom: 0;
    width: 100%!important;
    // height: 100%!important;
    overflow: scroll;
    content:"";
    display: block;
    height: 30px;
    position: sticky!important;
    top: 0;
    left: 0;
    width: 100%!important;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 );
}
