<ion-content class="appInfo">
    <!-- LOGO DE LA MUNI -->
    <div class="fondo"></div>
    <div class="logoMuni"><img src="./assets/imgs/muni.png"/></div>

    <!-- <div class="appVersion">
        <span class="textoVersion">Versión</span><span class="nroVersion"> {{versionNumber}}</span>
    </div> -->
    <div class="appLogoInfo">
        <img src="./assets/imgs/logo-trans.png"/>
    </div>
    
    <ion-list>
        <button class="a" detail-none (click)="expandItem(items[0]); enableDeveloperMode()" ion-item >
          <h2 class="btnInfo">Sobre esta APP</h2> 
            <expandable  [expandHeight]="itemExpandHeight1" [expanded]="items[0].expanded">
                <div class="d" [innerHTML]="textos[0]"></div>
            </expandable>
        </button>

        <button class="a" detail-none (click)="expandItem(items[1])" ion-item >
            <h2 class="btnInfo">Términos y Condiciones de uso</h2>
            <expandable  [expandHeight]="itemExpandHeight2" [expanded]="items[1].expanded">
                <div class="d" [innerHTML]="textos[1]"></div>
            </expandable>
        </button>
        
        <button  class="a" detail-none (click)="expandItem(items[2])" ion-item >
            <h2 class="btnInfo">Políticas de privacidad</h2>
            <expandable  [expandHeight]="itemExpandHeight3" [expanded]="items[2].expanded">
                <div class="d" [innerHTML]="textos[2]"></div>
            </expandable>
        </button>
    </ion-list>

    <!-- Corresponde al contenedor de logs -->
    <ion-list *ngIf="this.showLogList">
        <ion-item *ngFor="let logItem of logItemList" text-wrap>
            <ion-icon item-start [name]="logItem.icon"></ion-icon>
            {{ logItem.text }}
        </ion-item>
    </ion-list>

    <!-- <div class="btnInfo">
        Mostrar Términos y Condiciones de uso
    </div>
    <div class="btnInfo">
        Mostrar Políticas de privacidad
    </div> -->

    <!-- <p class="linkVolver" (click)="volverAWelcome()">Volver</p> -->

    <ion-fab bottom left>
        <button ion-fab color="light" class="rounded" (click)="volverHome()"><ion-icon name="cl-home"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom right>
        <button ion-fab menuToggle color="light" class="rounded"><ion-icon name="cl-menu"></ion-icon></button>
    </ion-fab>


</ion-content>
