.favs svg{
    height: 100px;
}
.loginBG
{
    height:28%!important;
}

.favTitle{
    text-align: left;
    margin-left: 25px;
    margin-top: 226px;
    color: black;
    height: 19px;
    margin-bottom: -167px;
}
.fT{
    margin-left: 5%;
    font-weight: 400;
}
.favCont{
    position: absolute;
    z-index: 1000;
    height: 50%;
    top: 50%;
    width: 100%;
}
.favList{
    width: 100%;
    height: 57%;
    overflow-y: auto;
    display: inline-block;
    text-align: center;
}
.favInfo{
    display: inline-block;
    margin-left: 10px;
    //max-width: calc(100% - 90px);
    width: 100%;
}
.favInfo h3{
    margin: 0;
    font-weight: 900;
    font-size: 1.5em;
}

.favInfo p{
    margin: 0;
    color: #808088;
}
.deleteFav ion-icon{
    font-size: 2em;
    margin: 5px 0;
}

.deleteFav button {
    display: inline-block;
}

.favorito {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    border-width: 1px;
    text-align: left;
    color: #000 !important;
    border-bottom: 1px solid #eb6484;
    margin-bottom: 10px;
    /*background-color: #000;*/
}
/*.favorito:nth-child(even) { background: rgb(226, 0, 145)}
.favorito:nth-child(odd){
    background: rgba(255,56,156,1);
    background: -moz-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,56,156,1)), color-stop(38%, rgba(255,112,179,1)), color-stop(100%, rgba(255,226,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    background: linear-gradient(135deg, rgba(255,56,156,1) 0%, rgba(255,112,179,1) 38%, rgba(255,226,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff389c', endColorstr='#ffe270', GradientType=1 );
}*/

.fav1 {
    width: 90%;
    margin: 35px auto 0;
    border-radius: 12px;
    display: inline-grid;
    align-items: center;
    border-width: 1px;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 28px -3px rgba(158,158,158,1);
    -moz-box-shadow: 0px 0px 28px -3px rgba(158,158,158,1);
    box-shadow: 0px 0px 28px -3px rgba(158,158,158,1);
   
}

.deleteFav button,
.star button{
    background-color: transparent;
}

.scrollF
{
    position: relative !important;
    display: flex !important;
    height: 480px !important;
}


.chat-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.chat-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.btnNombre
{
    padding: 0;
    background-color: rgba(0,0,0,0)!important;
}

.listaFav
{
    position: relative;
    // height: 150px!important;
    top: 23%;
    height: 100%;
}

// .fondoMenuDt{
//     z-index: 2;
//     width: 100%;
//     position: absolute;
//     top: 85%;
//     height: 16%;
//     margin-bottom: 9%;
//     background: #38a8d3;
//     background: -webkit-gradient(left top, right top, color-stop(0%, #38a8d3), color-stop(28%, #38a8d3), color-stop(45%, #00b2ac), color-stop(86%, #5a81bd), color-stop(100%, #786bc6));
//     background: -webkit-gradient(linear, left top, right top, from(#38a8d3), color-stop(28%, #38a8d3), color-stop(45%, #00b2ac), color-stop(86%, #5a81bd), to(#786bc6));
//     background: linear-gradient(to right, #38a8d3 0%, #38a8d3 28%, #00b2ac 45%, #5a81bd 86%, #786bc6 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a8d3', endColorstr='#786bc6', GradientType=1 );
//   }
  .imgF
  {
    background: rgba(255, 255, 255, 0);
    background-image: url(../assets/imgs/favoritos.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 20px !important;
    display: inline-block;
  }

  .btnA
  {
    background: rgba(255, 255, 255, 0);
    background-image: url(../assets/imgs/circulo-favorito-go.png);
    background-size: cover;
    width: 80px;
    height: 80px;
    font-weight: 500;
  }

  .subT
  {
    padding: 8px 0px 8px !important;
    margin: 0px !important;
  }

  .btnX
  {
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
  .txtE
  {
    margin: 0px;
  }

    .fondo{
    bottom: 0;
    width: 100%!important;
    // height: 100%!important;
    overflow: scroll;
    content:"";
    display: block;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 );
}


.pF, .iconStart {
    /*color: rgb(255, 255, 255)!important;*/
    color: #ff6d8f;
}
/*.iconStart {
    color: rgb(255, 255, 255)!important;
}*/

.fav1 .btnStar{
    background-color: transparent;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    font-size: 1.7em !important;
    padding: 0;
    height: 35px;
    width: 35px;
    color: #fff;
    font-size: 1em;
    margin: 0 auto;
    padding-top: 2px;
  }
  .fav1 .btnStar.selected{
    background: #6e2a96;
    background: -moz-linear-gradient(45deg, #6e2a96 0%, #c83673 100%);
    background: -webkit-linear-gradient(45deg, #6e2a96 0%,#c83673 100%);
    background: linear-gradient(45deg, #6e2a96 0%,#c83673 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e2a96', endColorstr='#c83673',GradientType=1 );
  }