<ion-content>
  <div class="loginBG favs">
      <svg class="roundBottom" preserveAspectRatio="none" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="100" cy="148" fill="white" r="145"></circle>
      </svg>
  </div>
  <div class="listaFav">
    <h3 class="fT">Tus favoritos</h3>
    <ion-list class="favList">
      <div class="fav1" *ngIf="tamano == 0">
          <p class="subT center"> Elegí tus favoritos </p>
          <div class="btnStar selected">
            <ion-icon name="star"></ion-icon>
          </div>
          <div class="btnX">
            <p class="txtE">Tocá para elegir desde el mapa </p>
            <button aria-label="Volver a pantalla principal." class="btnA" (click)="volverHome()"></button>
          </div>
      </div>
      <div (click)="fav_Ficha(fav);" class="favorito animated fadeInLeft"  *ngFor="let fav of favoritos;">
        <div class="star">
          <button aria-label="Volver a pantalla principal.">
            <ion-icon name="cl-star" class="iconStart"></ion-icon>
          </button>
        </div>
        <div class="favInfo">
          <button class="btnNombre"><h4 class="iconStart" >{{fav[2]}}</h4></button>
          <p class="pF" >Línea {{fav[0]}} - {{fav[1]}} </p>
        </div>
        <div class="deleteFav">
          <button (click)="editarFavorito(fav); $event.stopPropagation();">
            <ion-icon name="md-create" class="iconStart"></ion-icon>
          </button>
          <button (click)="confirmDeleteFicha(fav); $event.stopPropagation();">
            <ion-icon name="trash" class="iconStart"></ion-icon>
          </button>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
<div class="fondoMenuDt">
  <ion-fab bottom left>
    <button aria-label="Volver a pantalla principal." ion-fab color="light" class="rounded" (click)="volverHome()"><ion-icon name="cl-home"></ion-icon></button>
  </ion-fab>
  <ion-fab bottom right>
    <button aria-label="Abrir menú de opciones." ion-fab menuToggle color="light" class="rounded"><ion-icon name="cl-menu"></ion-icon></button>
  </ion-fab>
</div>
