<!--
  Generated template for the ValoracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="appInfo no-scroll" >

  <div class="fondo">
    </div>

    <div class="bgEmojis show " >
        <div class="fondo"></div>
        <div class="emojisContainer">
          <ion-segment [(ngModel)]="val" class="ionSeg">
              <ion-segment-button class="ionS animated flipInY"  value="excelente" >
                  <button (click)="incialBtn()" ion-fab  class=" fabb rounded linea btnIcono iconoBase iEncanta">
                    <!-- <ion-icon class="iconoBase iHappy" ></ion-icon> -->
                  </button>
              </ion-segment-button>
              <ion-segment-button class="ionS animated flipInY" value="muybueno" >
                  <button (click)="incialBtn()"  ion-fab class=" fabb rounded linea btnIcono iconoBase iFeliz">
                  <!-- <ion-icon class="iconoBase" ></ion-icon> -->
                  </button>
              </ion-segment-button>
              <ion-segment-button class="ionS  animated flipInY" value="regular" >
                  <button (click)="incialBtn()" ion-fab  class="fabb rounded linea btnIcono iconoBase iTriste">
                    <!-- <ion-icon class="iconoBase"></ion-icon> -->
                  </button>
                </ion-segment-button>
                <ion-segment-button class="ionS  animated flipInY" value="malo" >
                    <button (click)="incialBtn()" ion-fab  class="fabb rounded linea btnIcono  iconoBase iEnojado">
                      <!-- <ion-icon class="iconoBase iEnojado" ></ion-icon> -->
                    </button>
                  </ion-segment-button>
          </ion-segment>
        </div>


    </div>

    <div  [ngSwitch]="val">
          <div class="textoVal" *ngSwitchCase="'home'">

            <h3 class="txtA">¡Mejor decilo con emociones!</h3>
            <h6 class="txtA">Contanos cómo fue tu experiencia usando GO.</h6>
            <p class="txtA">
              ¿Cómo te sentiste usando GO? ¿Te resultó fácil de usar? ¿Tuviste problemas? ¿Te gustó? ¿Le dirías a tus amigos que la usen? Todo lo que nos digas nos sirve para mejorarla.
              ¡Gracias!
            </p>


          </div>
          <div  *ngSwitchCase="'excelente'">


            <div class="votar v1 textoVal2" >
                <div class="fondo">
                  </div>
                <h5 class="txtA"[ngClass]="{'btnClick': boolPadd === 1 }">Nos alegra que te guste tanto. ¡Compartila con tus amigos!
                  Contanos ¿Qué te gustó más o qué otra función le agregarías?</h5>

                <ion-img class=" efectoLat imgE i1" ></ion-img>
                <div *ngIf="this.enviado.bool==false">
                  <textarea (keyup)=btnClick() class="txt" placeholder="Dejanos tu opinión" [(ngModel)]="excelente"></textarea>
                  <button ion-button class="btnEnviar animated fadeInUpBig" (click)="valoracion('excelente')">enviar</button>
                </div>
                <div *ngIf="this.enviado.bool==true">
                  <h5>{{this.enviado.mensaje}}</h5>
                </div>
            </div>


          </div>
          <div *ngSwitchCase="'muybueno'">
            <div class="votar v2 textoVal2" >
              <div class="fondo">
                </div>
              <h5 class="txtA" [ngClass]="{'btnClick': boolPadd === 1 }">Nos alegra que te guste. Entendemos que hay algunas cosas que no te resultaron cómodas de usar. Contanos tu experiencia para mejorarla,
                mientras mas detalles nos des mas rápido podremos solucionarlo!
                ¡Gracias!</h5>
              <ion-img class=" efectoLat imgE i2" ></ion-img>
              <div *ngIf="this.enviado.bool==false">
                <textarea (keyup)=btnClick() class="txt" placeholder="Dejanos tu opinión" [(ngModel)]="muybueno"></textarea>
                <button ion-button class="btnEnviar animated fadeInUpBig" (click)="valoracion('muybueno')">enviar</button>
              </div>
              <div *ngIf="this.enviado.bool==true">
                <h5>{{this.enviado.mensaje}}</h5>
              </div>
            </div>
          </div>
          <div  *ngSwitchCase="'regular'">
              <div class="votar v3 textoVal2" >
                  <div class="fondo">
                    </div>
                  <h5 class="txtA" [ngClass]="{'btnClick': boolPadd === 1 }">Hay algunas cosas que no te gustaron. Contanos ¿Qué inconvenientes tuviste? 
                      Mientras mas detalles nos des mas rápido podremos solucionarlo!
                    ¡Gracias!</h5>
                  <ion-img class=" efectoLat imgE i3" ></ion-img>
                <div *ngIf="this.enviado.bool==false">
                  <textarea (keyup)=btnClick() class="txt" placeholder="Dejanos tu opinión" [(ngModel)]="regular"></textarea>
                  <button ion-button class="btnEnviar animated fadeInUpBig" (click)="valoracion('regular')">enviar</button>
                </div>
                <div *ngIf="this.enviado.bool==true">
                  <h5>{{this.enviado.mensaje}}</h5>
                </div>
              </div>


          </div>
          <div *ngSwitchCase="'malo'">
              <div class="votar v4 textoVal2" >
                  <div class="fondo">
                    </div>
                  <h5 class="txtA" [ngClass]="{'btnClick': boolPadd === 1 }">Te pedimos disculpas por los problemas que hayas tenido. 
                    Contanos ¿Qué inconvenientes tuviste? Mientras mas detalles nos des mas rápido podremos solucionarlo!
                    ¡Gracias!</h5>
                  <ion-img class="efectoLat imgE i4"></ion-img>
                <div *ngIf="this.enviado.bool==false">
                  <textarea (keyup)=btnClick() class="txt" placeholder="Dejanos tu opinión" [(ngModel)]="malo"></textarea>
                  <button ion-button class="btnEnviar animated fadeInUpBig" (click)="valoracion('malo')">enviar</button>
                </div>
                <div *ngIf="this.enviado.bool==true">
                  <h5>{{this.enviado.mensaje}}</h5>
                </div>
              </div>

          </div>

    </div>


    <ion-fab bottom left>
        <button ion-fab color="light" class="rounded" (click)="volverHome()"><ion-icon name="cl-home"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom right>
        <button ion-fab menuToggle color="light" class="rounded"><ion-icon name="cl-menu"></ion-icon></button>
    </ion-fab>

</ion-content>
