page-valoracion {

}
@import '../../app/app.scss';

.btnClick{
  margin-top: -150px;
}

.emojisContainer{
    height: calc(100% - 75px);
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 75px;
}
.emojisContainer.imgLogo{
  background-position-y: 15%;
  background-image: url(../assets/imgs/logoCL.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position-x: 80%;
}

.ramalCont{
    position: relative;
    height: 50px;
}

.bgEmojis{
    z-index: 11 !important;
    position: fixed;
    bottom: 0;
    left: auto;
    right: 0;
    top: auto;
    width: 85px;
    height: 0px;
    background: rgb(255, 255, 255);
    // background: -moz-linear-gradient(150deg, rgba(56,168,211,0.75) 0%, rgba(0,178,173,0.75) 13%, rgba(90,130,189,0.75) 62%, rgba(120,107,198,0.75) 100%);
    // background: -webkit-linear-gradient(150deg, rgba(56,168,211,0.75) 0%,rgba(0,178,173,0.75) 13%,rgba(90,130,189,0.75) 62%,rgba(120,107,198,0.75) 100%);
    // background: linear-gradient(150deg, rgba(56,168,211,0.75) 0%,rgba(0,178,173,0.75) 13%,rgba(90,130,189,0.75) 62%,rgba(120,107,198,0.75) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a8d3', endColorstr='#786bc6',GradientType=1 );
    // -webkit-transition: all 150ms ease-in-out;
    // -moz-transition: all 150ms ease-in-out;
    // -o-transition: all 150ms ease-in-out;
    // transition: all 150ms ease-in-out;
}
.bgEmojis.show{
    width: 110px;
    height: 100%;
    z-index: 11 !important;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    padding-top: 0%;
}
.bgEmojis.show.coverScreen{
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 11 !important;
}
.bgEmojis.show p{
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  position: fixed;
  background-color: #202454;
  border-bottom: 40px;
  width: 70%;
  color: rgb(255, 255, 255);
  margin-left: 26%;
  padding: 7px;
  border-radius: 25px;
  top: 20%;
  display: block;
}

.btnIcono
{
    margin-bottom: 30px;
    margin-left: 10%;
}

.ionS
{
    width: 100px!important;
    height: 8.2rem !important;
    border-bottom-width: 0px!important;
}
.ionSeg
{
    display: inline-grid!important;
    border-bottom-width: 0px!important;

}
.textoVal2
{
    width: 70%!important;
    // padding-left: 10px;
    //margin-top: 100px!important;
}
.textoVal
{
    margin-top: 5% !important;
    width: 60%!important;
    margin-left: 15px;
}

.votar {
    opacity: 0.96;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  .v1 {
    background-color: rgb(250, 207, 66);
  }
  .v2 {
    background-color: rgb(249, 121, 16);
  }
  .v3 {
    background-color: rgb(125, 217, 253);
  }
  .v4 {
    background-color: rgb(255, 128, 76);
  }
  .btnEnviar{
    background-color: rgb(249, 249, 249)!important;
    top: 37%;
    border-radius: 30px;
    // -webkit-box-shadow: 0px 0px 47px 0px rgba(255,255,255,1);
    // -moz-box-shadow: 0px 0px 47px 0px rgba(255,255,255,1);
    // box-shadow: 0px 0px 47px 0px rgba(255,255,255,1);
    color: rgb(71, 64, 96)!important;
    margin-left: 30%;
  }

  .txt{
    overflow: auto;
    height: 9rem;
    border-radius: 12px;
    font: inherit;
    color: inherit;
    font-weight: 300;
    margin-left: 10%;
    margin-top: 20px;
  }
.imgE
{
    max-width: 100%;
    margin-left: 10%;
    background: rgba(255, 255, 255, 0);
    width: 91px;
    height: 100px;
    background-size: cover;
}

.iconoBase
{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    display: list-item;
    background-size: cover;
}
.iEncanta
{
    background-image: url("#{$BASE_URL_IMGS}emoticon-me-encanta.svg");
}
.iTriste
{
    background-image: url("#{$BASE_URL_IMGS}emoticon-triste.svg");
}
.iFeliz
{
    background-image: url("#{$BASE_URL_IMGS}emoticon-feliz.svg");

}
.iEnojado
{
    background-image: url("#{$BASE_URL_IMGS}enojo-con-sombra.svg");
}
.fabb{

        color: #fff;
        background-color: rgba(255, 255, 255, 0)!important;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0), 0 4px 5px rgba(0, 0, 0, 0)!important;
}

.i1
{
    background-image: url("#{$BASE_URL_IMGS}emoticon-me-encanta.svg");
}
.i2
{
    background-image: url("#{$BASE_URL_IMGS}emoticon-feliz.svg");
}
.i3
{
    background-image: url("#{$BASE_URL_IMGS}emoticon-triste.svg");
}
.i4
{
    background-image: url("#{$BASE_URL_IMGS}enojo-con-sombra.svg");
}


.fondo{
    bottom: 0;
    width: 100%!important;
    // height: 100%!important;
    overflow: scroll;
    content:"";
    display: block;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 );
}

.txtA
{
    max-width: 80%;
    margin-left: 4%;
}

.segment-md .segment-button
{
    opacity: 1!important;
}

/* Animación con keyframe llamada "latidos" */
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}
/* en  */
.efectoLat {
	display: inline-block;
	//font-size: 150px;
	animation: latidos .9s infinite;
	transform-origin: center;
}
.noBtn{
    padding: 0 0px!important;
}


.bgEmojis .ionSeg{
    height: 100%;
}
.bgEmojis .segment-ios .segment-button{
  height: 100% !important;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  border-top-left-radius: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0px;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  border: none;
  border-top: 1px solid #777;
  border-radius: 0px;
  font-size: 1.3rem;
  line-height: 3rem;
  color: #488aff;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  grid-gap: 1px;
  display: inline-flex;
}

.bgEmojis .segment-ios .segment-button.segment-activated{
    background-color: transparent;
}