<ion-content class="no-scroll">
    <div id="map3">
    </div>
    <!-- <hr class="lineaHR"> -->


    <ion-fab bottom left>
        <button ion-fab color="light" class="rounded" (click)="pageHome()"><ion-icon name="cl-home"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom centerLeft>
      <button ion-fab color="light" class="rounded" (click)="pageEspera()"><ion-icon name="cl-espera"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom centerRight>
        <button ion-fab color="light" class="rounded" (click)="pageFavoritos()"><ion-icon name="cl-star"></ion-icon></button>
    </ion-fab>
    <ion-fab bottom right>
        <button ion-fab menuToggle color="light" class="rounded"><ion-icon name="cl-menu"></ion-icon></button>
    </ion-fab>
</ion-content>
